<template>
  <div class="flex justify-center">
    <div class="w-1/5 border border-gray-300 rounded-lg p-4 mt-2">
      <div
        class="border-b-2 border-yellow-300 cursor-pointer py-2 hover:text-blue-800"
        @click="pos(0)"
      >
        ตำแหน่ง N
      </div>
      <div
        class="border-b-2 border-yellow-300 cursor-pointer py-2 hover:text-blue-800"
        @click="pos(1)"
      >
        ตำแหน่ง N+1
      </div>
      <div
        class="border-b-2 border-yellow-300 cursor-pointer py-2 hover:text-blue-800"
        @click="pos(pur)"
      >
        ตำแหน่งจัดซื้อ
      </div>
      <div class="cursor-pointer py-2 hover:text-blue-800" @click="pos(manpur)">
        ผู้จัดการจัดซื้อ
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      pur: "purchase",
      manpur: "dep_purchase",
      //po: this.$router.params.po,
    };
  },
  computed: mapState(["userData", "isLogin"]),
  created() {},
  methods: {
    pos() {
      this.$router.push("/detail_im/" + this.userData[0].LV);
    },
  },
};
</script>
<style scoped></style>
