<template>
  <div>
    <span class="text-grey-300">L O A D I N G .....</span>
  </div>
</template>
<script>
import { mapState } from "vuex";
import axios from "axios";
const url = "https://hook.zubbsteel.com/line-ci/grpass/qpass/";

export default {
  data() {
    return {
      po: this.$route.params.po,
    };
  },
  computed: mapState(["userData", "isLogin"]),
  created() {
    this.check_empcode();
  },
  methods: {
    async check_empcode() {
      const poBef = await axios.get(url + "testLib_out/" + this.po);
      const empcode_in = await axios.get(
        url + "find_empcode" + "/" + poBef.data.decryp
      );
      console.log("หาในเทเบิ้ลได้:", empcode_in);
      //เช็กก่อนว่าอยู่ลำดับไหน ผู้ขอหรือจัดซื้อ
      const st = await axios.get(url + "getstatusPO/" + poBef.data.decryp);
      if (st.data[0].approven == "Y" && st.data[0].approvebypur == "Y") {
        //ขออนุมัติจากจัดซื้อ
        this.$store.commit("setLogOut");
        await axios
          .get(`https://hook.zubbsteel.com/line-ci/grpass/qpass/user/64010005`)
          .then((Response) => this.$store.commit("setUserData", Response.data));
      } else {
        //ขออนุมัติจากผู้ขอซื้อ
        console.log("เข้าขอซื้อ");
        console.log("prs_no:in:", empcode_in.data[0].prs_no);
        console.log("prs_no:out:", this.userData[0].PRS_NO);
        if (empcode_in.data[0].prs_no !== this.userData[0].PRS_NO) {
          this.$store.commit("setLogOut");
          await axios
            .get(
              `https://hook.zubbsteel.com/line-ci/grpass/qpass/user/` +
                empcode_in.data[0].prs_no
            )
            .then((Response) =>
              this.$store.commit("setUserData", Response.data)
            );
        }
      }

      this.$router.push({
        name: "detail",
        params: { po_num: poBef.data.decryp },
      });
    },
  },
};
</script>
<style></style>
