<template>
  <div>
    <span class="text-grey-300">L O A D I N G .....</span>
  </div>
</template>
<script>
import { mapState } from "vuex";
import axios from "axios";

export default {
  data() {
    return {
      po: this.$route.params.po,
      emp: this.$route.params.emp,
    };
  },
  computed: mapState(["userData", "isLogin"]),
  async created() {
    await axios
      .get(`https://hook.zubbsteel.com/line-ci/grpass/qpass/user/` + this.emp)
      .then((Response) => this.$store.commit("setUserData", Response.data));
    this.check_empcode();
  },
  methods: {
    async check_empcode() {
      this.$router.push({
        name: "supplier",
        params: { po_num: this.po },
      });
    },
  },
};
</script>
<style></style>
