<template>
  <div>
    <detail
      :po="this.po"
      :pr="this.pr"
      :vendor="this.vendor"
      :gr="this.gr"
      :date="receive_date"
      :page="1"
      :invdate="this.invdate"
      :sec="this.sec"
      :pur="this.purGroup"
      :invno="this.invno"
      :datsave="this.subdata"
      v-if="this.dataIN.length != 0"
    >
    </detail>
    <div class="A border-b border-r border-l border-gray-200 mx-4">
      <div class="B mx-4 mb-4" v-if="this.dataIN.length != 0">
        <table class="C table-auto border-collapse w-full">
          <thead class="border border-gray-100">
            <th class="border border-gray-100 py-2">No.</th>
            <th class="border border-gray-100 py-2">Item Description</th>
            <th class="border border-gray-100 py-2">UOM</th>
            <th class="border border-gray-100 py-2">QTY</th>
            <th class="border border-gray-100 py-2">Unit Price</th>
            <th class="border border-gray-100 py-2">Amount</th>
            <th class="border border-gray-100 py-2">Delivery Date</th>
            <th class="border border-gray-100 py-2">จำนวนที่รับ</th>
            <th class="border border-gray-100 py-2">จำนวนค้างส่ง</th>
            <th class="border border-gray-100 py-2">น้ำหนักที่ชั่งได้</th>
            <th class="border border-gray-100 py-2">Accept</th>
            <th class="border border-gray-100 py-2">Reject</th>
          </thead>
          <tbody
            v-for="(item, index) in this.subdata"
            :key="index"
            class="text-sm"
          >
            <tr :id="item.gritem">
              <td class="py-1 border border-gray-100">{{ item.gritem }}</td>
              <td class="border border-gray-100">{{ item.grtext }}</td>
              <td class="border border-gray-100">
                {{ item.po_data[0].MEINS }}
              </td>
              <td class="border border-gray-100">
                {{
                  new Intl.NumberFormat("en", {
                    minimumFractionDigits: 0,
                    maximumFractionDigits: 2,
                  }).format(item.grqty)
                }}
              </td>
              <td class="border border-gray-100">
                {{
                  new Intl.NumberFormat("en", {
                    minimumFractionDigits: 0,
                    maximumFractionDigits: 2,
                  }).format(item.po_data[0].NETPR)
                }}
              </td>
              <td class="border border-gray-100">
                {{
                  new Intl.NumberFormat("en", {
                    minimumFractionDigits: 0,
                    maximumFractionDigits: 2,
                  }).format(item.po_data[0].NETWR)
                }}
              </td>
              <td class="border border-gray-100">
                {{
                  new Date(item.po_data[0].EINDT).toLocaleDateString("en-GB")
                }}
              </td>
              <td class="border border-gray-100" :id="'ip_' + item.gritem">
                <input
                  id="enterQTY"
                  type="number"
                  class="w-20 border-b border-gray-200 focus:outline-none text-center"
                  v-model.number="item.actqty"
                  @input="changeReceive(item.gritem)"
                  @change="changeReceive(item.gritem)"
                  :readonly="position != 0 || doneDB"
                />
              </td>
              <td class="border border-gray-100">
                <input
                  type="text"
                  :id="remain + item.gritem"
                  class="w-20 border-none focus:outline-none text-center text-red-500"
                  v-model="item.dueqty"
                  readonly
                  v-if="item.dueqty > 0"
                />
                <input
                  type="text"
                  :id="remain + item.gritem"
                  class="w-20 border-none focus:outline-none text-center"
                  v-model="item.dueqty"
                  readonly
                  v-else
                />
              </td>
              <td class="border border-gray-100">
                {{
                  new Intl.NumberFormat("en", {
                    minimumFractionDigits: 0,
                    maximumFractionDigits: 2,
                  }).format(item.grweight)
                }}
              </td>
              <td class="border border-gray-100">
                <input
                  type="radio"
                  class="w-4 h-4"
                  :name="cchk + item.gritem"
                  :value="item.gritem"
                  @click="radacc(1, item.gritem)"
                  :checked="item.accept == 1"
                  :disabled="position != 0 || doneDB"
                />
              </td>
              <td class="border border-gray-100">
                <input
                  type="radio"
                  class="w-4 h-4"
                  :value="item.gritem"
                  :name="cchk + item.gritem"
                  @click="radacc(0, item.gritem)"
                  :checked="item.accept == 0"
                  :disabled="position != 0 || doneDB"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="ml-4 mb-4" v-if="this.dataIN.length != 0">
        <div class="pl-1 flex justify-inline w-full">
          <div class="w-1/4 flex flex-col">
            <div class="flex justify-items-start">
              <input
                type="checkbox"
                name=""
                id=""
                class="mt-1 w-4 h-4"
                checked
                :disabled="appstatus == 'Y' || doneDB"
              />
              <span class="pl-2">มีส่วนต่างค่า Tolerance</span>
            </div>
            <br />
            <div v-for="com in this.cutcom" :key="com.usercom" class="my-2">
              <div class="flex justify-inline">
                <div class="text-left w-1/3 pl-2">
                  <span>{{ com.usercom }}</span>
                </div>
                <div class="w-2/3 text-left flex flex-wrap">
                  <span
                    class="p-2 border border-yellow-300 rounded-lg w-full"
                    >{{ com.comment }}</span
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="img w-1/4 flex justify-inline">
            <svg
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 479.254 479.254"
              style="enable-background: new 0 0 479.254 479.254"
              xml:space="preserve"
              class="w-6 h-6"
            >
              <path
                d="M451.471,117.602h-3.887c-17.036,0-30.851-13.821-30.851-30.858v-3.877c0-15.334-12.434-27.77-27.753-27.77H256.987
	c-15.351,0-27.786,12.436-27.786,27.77v3.877c0,17.037-13.815,30.858-30.851,30.858H139.77v-3.119V87.705
	c0-16.122-13.121-29.251-29.251-29.251c-16.131,0-29.251,13.129-29.251,29.251v127.091c0,16.123,13.12,29.252,29.251,29.252
	c16.13,0,29.251-13.129,29.251-29.252v-51.441c0-4.461-3.608-8.069-8.069-8.069c-4.46,0-8.069,3.608-8.069,8.069v51.441
	c0,7.235-5.879,13.113-13.112,13.113s-13.113-5.878-13.113-13.113V87.705c0-7.233,5.879-13.112,13.113-13.112
	s13.112,5.879,13.112,13.112v26.777v3.119h-18.155v52.939v16.675l10.086-2.6v-16.658v-4.604c0-8.92,7.227-16.139,16.139-16.139
	c15.209,0,16.139,13.396,16.139,16.139c0,3.242,0,12.971,0,12.971l66.949-17.21c1.159-0.299,2.334-0.457,3.507-0.457
	c6.391,0,11.97,4.35,13.563,10.544l45.248,176.043c1.93,7.486-2.602,15.146-10.086,17.067L90.976,407.561
	c-7.47,1.924-15.186-2.758-17.07-10.087L28.658,221.431c-1.93-7.484,2.602-15.145,10.087-17.068l34.453-8.856v-16.658v-61.246
	H27.784C12.434,117.602,0,130.053,0,145.388v70.213l0.015-0.017v152.45c0,18.44,14.957,33.381,33.365,33.381h24.87l0.024,0.079
	c3.436,13.332,15.436,22.663,29.197,22.663c2.528,0,5.059-0.331,7.525-0.962l84.743-21.78h157.28h35.618h73.254
	c18.408,0,33.363-14.941,33.363-33.381V145.388C479.254,130.053,466.819,117.602,451.471,117.602z"
              />
            </svg>
            <span class="ml-2 cursor-pointer h-8" @click="showModal = true"
              >Attached File</span
            >
            <SavedModal
              v-show="showModal"
              @close-modal="showModal = false"
              :po="this.po"
              :gr="this.gr"
            />
          </div>
          <div class="commentarea w-2/4 flex justify-end pr-4">
            <textarea
              name=""
              id="textarea_comment"
              cols="70"
              rows="10"
              class="border border-gray-300 rounded p-2 focus:outline-none focus:border-blue-500"
              v-model="comments"
              placeholder="แสดงความคิดเห็น"
              :hidden="position == 'FNA'"
              :disabled="doneDB"
            ></textarea>
          </div>
        </div>
      </div>
      <div
        class="grid justify-items-end mb-4"
        v-if="this.dataIN.length != 0 && this.position != 'FNA'"
      >
        <div
          class="footer flex justify-inline"
          v-if="this.position != 'dep_purchase' && this.position != 1"
        >
          <button
            class="p-2 rounded-lg bg-gray-200 mr-4 hover:bg-gray-300 shadow-lg"
            @click="goback"
          >
            BACK
          </button>
          <button
            id="next_button"
            class="p-2 rounded-lg bg-gray-200 mr-4 hover:bg-gray-300 shadow-lg"
            @click="next"
          >
            NEXT
          </button>
        </div>
        <div class="footer2 flex justify-inline" v-else>
          <button
            class="p-2 rounded-lg bg-gray-200 mr-4 hover:bg-gray-300 shadow-lg"
            @click="goback"
          >
            BACK
          </button>
          <button
            id="approved_click"
            class="p-2 rounded-lg bg-gray-200 mr-4 hover:bg-gray-300 shadow-lg"
            @click="depapp"
            v-if="
              (this.position == 1 && this.appstatus != 'Y') ||
              (this.position == 'dep_purchase' && this.appdep != 'Y')
            "
          >
            APPROVE
          </button>
          <button
            class="p-2 rounded-lg bg-gray-300 mr-4 shadow-lg cursor-default font-semibold"
            v-else
          >
            อนุมัติแล้ว
          </button>
        </div>
      </div>
      <div class="flex justify-center items-center mt-10">
        <div
          class="loader ease-linear rounded-full border-8 border-t-8 border-gray-200 h-16 w-16"
          v-if="this.dataIN.length == 0 && this.othercom == ''"
        ></div>
      </div>

      <!-- <p>{{ this.chk_app }}</p> -->
    </div>
  </div>
</template>
<script>
  import detail from "../components/header_detail.vue";
  import axios from "axios";
  import { mapState } from "vuex";
  import SavedModal from "../components/SaveModal.vue";
  const url = "https://hook.zubbsteel.com/line-ci/grpass/qpass/";
  export default {
    computed: mapState(["userData", "isLogin"]),
    data() {
      return {
        doneDB: false,
        po: this.$route.params.po_num,
        position: "",
        pr: "",
        gr: "",
        receive_date: "",
        vendor: "",
        amount: 840000,
        chk_app: [],
        invdate: "",
        invno: "",
        purGroup: "",
        sec: "",
        score: 5,
        appstatus: "",
        detail: [
          {
            no: 1,
            desc: "ITHW00058\nNOTEBOOKHP",
            uom: "PC",
            qty: "40.000",
            unitPrice: 21000,
            amount: 840000,
            deliverDate: "10-07-21",
            goodsQty: 40,
            pdGoods: 0,
            weight: 0,
            accept: true,
          },
          {
            no: 2,
            desc: "ITHW00121\nNOTEBOOKBAG",
            uom: "PC",
            qty: "40.000",
            unitPrice: "-",
            amount: "-",
            deliverDate: "10-07-21",
            goodsQty: 40,
            pdGoods: 0,
            weight: 0,
            accept: true,
          },
          {
            no: 3,
            desc: "ITHW00149\nNOTEBOOKPEN",
            uom: "PC",
            qty: "40.000",
            unitPrice: "-",
            amount: "-",
            deliverDate: "10-07-21",
            goodsQty: 40,
            pdGoods: 0,
            weight: 0,
            accept: true,
          },
        ],
        remain: "remain",
        rec_num_: "",
        cchk: "cchk_",
        dataIN: [],
        subdata: [],
        comments: "",
        othercom: [],
        cutcom: [],
        user: "",
        lv: "",
        showModal: false,
        showLongModal: false,
        loadfile: [],
      };
    },
    components: {
      detail,
      SavedModal,
    },
    async created() {
      console.log("ทำยัง");
      this.getfile();
      this.getdata_inPO();

      this.user = this.userData[0].EMP_NAME;
      await this.getLevel(this.userData[0].PRS_NO);
      console.log("POSITION:", this.position);
    },
    watch: {
      comments(a) {
        if (a == " ") {
          this.doneDB;
          this.comments = "";
        }
      },
    },
    methods: {
      async chkDo() {
        const user_todo = await axios.get(
          url + "checkTodo/" + this.po + "/" + this.gr + "/" + this.position
        );
        if (user_todo.data[0]) {
          if (user_todo.data[0].usercom !== this.userData[0].EMP_NAME) {
            this.doneDB = true;
          }
        }
      },
      async getLevel(empcode) {
        const lev = await axios.get(url + "getLevel/" + empcode);
        if (lev.data.length > 0) {
          this.position = lev.data[0].lv;
          this.lv = 2;
        } else {
          if (
            this.userData[0].DEP == "DPC" &&
            this.userData[0].job_level == 0
          ) {
            this.position = "purchase";
            this.lv = 1;
          } else if (this.userData[0].DEP == "DPC") {
            this.position = "dep_purchase";
            this.lv = 0;
          } else {
            this.position = 0;
            this.lv = 3;
          }
        }
      },
      SHOW() {
        this.showModal = true;
      },

      changeReceive(po) {
        //console.log("subdata : ", this.subdata);
        const qty = {
          old: this.subdata[po - 1].grqty,
          new: this.subdata[po - 1].actqty,
        };
        // console.log("oldQTY : " + qty.old);
        // console.log("currQTY : " + qty.new);

        if (qty.old < qty.new) {
          this.subdata[po - 1].actqty = qty.old;
          alert("จำนวนที่รับเกินจำนวนที่มี " + this.subdata[po - 1].grqty);
        } else {
          if (qty.new < 0) {
            this.subdata[po - 1].actqty = qty.old;
            alert("จำนวนไม่สามารถใส่ติดลบได้");
          } else {
            this.subdata[po - 1].dueqty = qty.old - qty.new;
            const rem = document.getElementById("remain" + po);
            if (this.subdata[po - 1].dueqty != 0) {
              rem.classList.add("text-red-500");
            } else {
              rem.classList.remove("text-red-500");
            }
          }
        }
      },
      async getfile() {
        const filedata = await axios.get(
          url + "getfile/" + this.po + "/" + this.gr
        );
        this.loadfile = filedata.data;
        //console.log(this.loadfile);
      },
      async getdata_inPO() {
        try {
          const bigData = await axios.get(url + "get_detail_one/" + this.po);
          this.dataIN = bigData.data;
          this.vendor = bigData.data[0].vendor;
          this.gr = bigData.data[0].grnum;
          this.receive_date = bigData.data[0].receivedate;
          console.log("DATA", bigData);
          this.invdate = bigData.data[0].invdate_t;
          this.invno = bigData.data[0].deliverynote;
          this.appstatus = bigData.data[0].approvestat;
          //console.log("app", this.dataIN);
          this.appdep = bigData.data[0].approvebydep;
          //console.log(this.appdep);

          const p = await axios.get(url + "poHead/" + this.po);

          this.pr = p.data[0].BANFN;
          this.sec = p.data[0].BEDNR;
          this.purGroup = p.data[0].EKNAM;
          //console.log("PR=", this.pr);

          const subData = await axios.get(
            url + "getDetail_gr/" + this.gr + "/" + this.po
          );
          this.subdata = subData.data;

          this.subdata.forEach((dt) => {
            if (dt.actqty == null) {
              dt.actqty = dt.grqty;
            }
            if (dt.dueqty == null) {
              dt.dueqty = dt.grqty - dt.actqty;
            }

            if (dt.accept == null) {
              dt.accept = 1;
            }
            dt.po_data.forEach((dti) => {
              //console.log("OLD:", dti.EINDT);
              let year = dti.EINDT.slice(0, 4);
              let month = dti.EINDT.slice(4, 6);
              let day = dti.EINDT.slice(6, 8);

              dti.EINDT = day + "-" + month + "-" + year;
            });
          });
          const otc = await axios.get(
            url + "getcomment/" + this.po + "/" + this.gr + "/detail"
          );
          this.othercom = otc.data;
          this.chkmycommn();
          this.othercom.forEach((data) => {
            if (data.comment !== null && data.comment !== "") {
              this.cutcom.push({
                usercom: data.usercom,
                comment: data.comment,
              });
            }
          });
          // console.log("CUT:", this.cutcom);
          this.chkDo();
        } catch (error) {
          console.error();
        }
      },
      async update() {
        axios.post(url + "insertUserapp", { po: this.po });

        //console.log("upd=>", this.subdata);
        if (this.position == 0) {
          this.subdata.forEach((data) => {
            axios.post(url + "editNum", {
              act: data.actqty,
              due: data.dueqty,
              no: data.gritem,
              grnum: data.grnum,
              po: this.po,
              acc: data.accept,
            });
          });
        }

        //Updated ส่วน Comment ตรวจสอบก่อนว่ามีหรือยัง
        const indexcom = await axios.post(url + "searchcomment/", {
          po: this.po,
          gr: this.gr,
          user: this.user,
          lev: this.lv,
        });
        let up = "";

        if (indexcom.data != "notfounded") {
          //ถ้าเจอให้อัปเดต โดยส่งค่า
          up = "update";
        } else {
          up = "insert";
        }
        console.log("Update/Insert", up);
        if (up == "update") {
          if (this.comments !== indexcom.data[0].comment) {
            axios.post(url + "insert_com", {
              po: this.po,
              gr: this.gr,
              commn: this.comments,
              user: this.user,
              status: up,
            });
          }
        } else {
          axios.post(url + "insert_com", {
            po: this.po,
            gr: this.gr,
            commn: this.comments,
            user: this.user,
            lv: this.lv,
            status: up,
          });
        }
      },

      async depapp() {
        const indexcom = await axios.post(url + "searchcomment/", {
          po: this.po,
          gr: this.gr,
          user: this.user,
          lev: this.lv,
        });
        let up = "";

        if (indexcom.data != "notfounded") {
          //ถ้าเจอให้อัปเดต โดยส่งค่า
          up = "update";
        } else {
          up = "insert";
        }
        //updated comment
        await axios.post(url + "insert_com", {
          po: this.po,
          gr: this.gr,
          commn: this.comments,
          user: this.user,
          lv: this.lv,
          status: up,
        });
        //insert in tbl_gr_app
        await axios.post(url + "approvedpo", {
          po: this.po,
          gr: this.gr,
          user: this.user,
          position: this.position,
          section: this.userData[0].DEP,
          lev: this.lv,
        });
        //update approvestat field in tbl_gr_header
        await axios.post(url + "updateapprove", {
          grnum: this.gr,
          position: this.position,
        });
        alert("APPROVED :)");
        this.$router.push("/detail_im/");
      },
      async chkmycommn() {
        //หาคอมเม้นของตัวเองอิอิ
        const mcm = await axios.post(url + "searchcomment/", {
          po: this.po,
          gr: this.gr,
          user: this.user,
        });
        //console.log("Comment", mcm);
        this.comments = mcm.data[0].comment;
      },
      radacc(choice, i) {
        this.subdata.forEach((data) => {
          if (data.gritem == i) {
            data.accept = choice;
          }
        });
      },
      async goback() {
        const statapp = await axios.post(url + "chkapp", {
          po: this.po,
          gr: this.gr,
          user: this.user,
        });

        if (statapp.data == "NOHAVE" && this.comments !== "") {
          this.update();
        }

        this.$router.push("/detail_im/");
      },
      next() {
        //ถ้าเป็นคนๆนั้น ที่มีความเห็นแต่แรก จะอัปเดท คนอื่นจะแค่แสดงหน้าถัดไปให้ดู
        if (!this.doneDB) {
          this.update();
        } else {
          console.log("ไม่อัปเดทหรอกนะ แบร่");
        }
        this.$router.push({ name: "supplier", params: { po_num: this.po } });
      },
    },
  };
</script>
<style>
  .loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
  }

  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
