<template>
  <div>
    <div class="mt-4">
      <input type="text" class="border-2 border-gray-400 rounded-lg px-2" />
      <button class="bg-green-400 mx-1 px-1 rounded hover:bg-green-500">
        search
      </button>
    </div>
  </div>
</template>
<script></script>
<style></style>
