<template>
  <div v-if="!isFNA">
    <Sumgrade :pFilter="getFiltered"></Sumgrade>
  </div>
  <div v-else></div>
</template>

<script>
import Sumgrade from "../components/Report/SumGrade.vue";
//import axios from "axios";

export default {
  name: "Report",
  components: { Sumgrade },
  data() {
    return {};
  },
  created() {},
  computed: {
    getFiltered() {
      return this.$store.state.fna;
    },
    isFNA() {
      return JSON.parse(localStorage.getItem("userData"))[0].DEP === "FNA";
    },
  },
  methods: {
    name() {},
  },
};
</script>
<style></style>
