<template>
  <div>
    <qpass-list></qpass-list>
  </div>
</template>

<script>
// @ is an alias to /src

import QpassList from "../components/QpassList.vue";
export default {
  name: "Homepage",

  data() {
    return {
      //position: this.userData[0].LV,
    };
  },
  components: { QpassList },
  created() {},
};
</script>
