<template>
  <div class="bg flex justify-center">
    <div class="h-full flex items-center text text-white">
      กรอกข้อความสำหรับทดลอง
    </div>
  </div>
</template>
<script>
export default {};
</script>
<style scoped>
.bg {
  background-color: red;
  width: 100%;
  height: 660px;
}
.text {
  font-size: 80px;
}
</style>
