<template>
  <div>
    <label
      class="w-2/4 sm:w-1/4 p-1 mx-1 border border-gray-200 rounded-lg cursor-pointer"
    >
      <div class="flex justify-center">
        <input
          type="file"
          id="fileImg"
          ref="fileja"
          name=""
          hidden
          accept="video/*"
          @change="onChangeFileUpload"
        />
      </div>
      เพิ่มวิดีโอ
    </label>

    <video-embed
      css="embed-responsive-21by9"
      src="https://www.youtube.com/watch?v=CuwRqIzkyOQ"
    ></video-embed>
  </div>
</template>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

<script>
//import LazyYoutube from "vue-lazytube";
import axios from "axios";
const urlapi_upload = "https://hook.zubbsteel.com/line-ci/fileGR/api.php";
const url = "https://hook.zubbsteel.com/line-ci/grpass/qpass/";
export default {
  data() {
    return {
      youtubeLink: "",
      url:
        "https://192.168.201.119/d$/httpdoc/zhook/line-ci/fileGR/12-10-2021_by_XXX_PO_4810060121_l1iab5m8.mp4",
      item: {
        image: null,
        imageUrl: null,
      },
      file: "",
      nowIMG: "",
    };
  },
  components: {
    //  LazyYoutube,
  },
  methods: {
    onChangeFileUpload(e) {
      const file = e.target.files[0];
      this.image = file;
      this.filename = file.name;
      this.item.imageUrl = URL.createObjectURL(file);
      this.file = this.$refs.fileja.files[0];
      //console.log("URL", this.item.imageUrl);
      this.up();
    },
    async up() {
      let formData = new FormData();
      let type = this.file.name;
      type = type.split(".");
      let nametype = type.length - 1;

      var result = "";
      var characters = "0123456789abcdefghijklmnopqrstuvwxyz";
      var charactersLength = characters.length;
      for (var i = 0; i < 5; i++) {
        result += characters.charAt(
          Math.floor(Math.random() * charactersLength)
        );
      }
      this.nowIMG = result + "11211";

      if (this.file.size > 10000000) {
        alert("ไฟล์ใหญ่เกินไป แนบได้ไม่เกิน 10 MB");
      } else {
        formData.append("file", this.file, this.nowIMG + "." + type[nametype]);
        axios.post(urlapi_upload, formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });

        await axios.post(url + "insert_file", {
          po: 1111111,
          gr: 2222222,
          filename: this.nowIMG,
          type: type[nametype],
          user: "น้องเทส",
        });
      }
      alert("เสร็จ");
    },
  },
};
</script>
<style scoped>
#preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview img {
  max-width: 100%;
  max-height: 500px;
}
</style>
