<template>
  <div>
    <div class="space-x-5 mt-4">
      <button
        @click="report1"
        class="rounded-full p-2 border-2 border-gray-300 hover:bg-gray-200 font-semibold"
      >
        Report 1
      </button>
      <button
        @click="report2"
        class="rounded-full p-2 border-2 border-gray-300 hover:bg-gray-200 font-semibold"
      >
        Report 2
      </button>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  },
  methods: {
    report1() {
      this.$router.push("/report");
    },
    report2() {
      this.$router.push("/greport");
    },
  },
};
</script>
<style></style>
