<template>
  <div v-if="!isFNA">
    <po-by-vendor :pFilter="getFiltered"></po-by-vendor>
  </div>
  <div v-else></div>
</template>

<script>
import PoByVendor from "../components/Report/PoByVendor.vue";
export default {
  name: "Report",
  components: { PoByVendor },
  data() {
    return {
      filterdPayload: {},
    };
  },
  computed: {
    getFiltered() {
      return this.$store.state.fna;
    },

    isFNA() {
      return JSON.parse(localStorage.getItem("userData"))[0].DEP === "FNA";
    },
  },
  methods: {
    name() {},
  },
};
</script>
