<template>
  <div>
    <detail
      :po="this.po"
      :pr="this.pr"
      :vendor="this.vendor"
      :gr="this.gr"
      :date="receive_date"
      :page="2"
      :invdate="this.invdate"
      :sec="this.sec"
      :pur="this.purGroup"
      :invno="this.invno"
    >
    </detail>
    <div class="border-b border-r border-l border-gray-200 mx-4">
      <div class="flex justify-inline">
        <div class="w-2/6 hidden sm:block">
          <div
            v-for="comment in this.cutcom"
            :key="comment.usercom"
            class="my-2 hidden sm:block"
          >
            <div class="flex justify-inline">
              <div class="text-left w-1/3 pl-2">
                <span>{{ comment.usercom }}</span>
              </div>
              <div class="text-left w-2/3 flex flex-wrap">
                <span class="p-2 border border-yellow-300 rounded-lg w-full">
                  {{ comment.comment_review }}</span
                >
              </div>
            </div>
          </div>
        </div>

        <div class="rating w-full sm:w-4/5 mb-8">
          <div
            class="A border border-gray-300 rounded-xl w-full sm:w-4/5 sm:mr-8 sm:mx-4 mt-2"
          >
            <div class="B text-left p-2">
              <div class="C flex justify-center">
                <div class="w-1/2">
                  {{ this.topic_one }}
                </div>
                <div class="divstar -mt-1">
                  <ul class="rate-area">
                    <input
                      type="radio"
                      id="5-star"
                      name="crating"
                      @click="starSpec(5)"
                      :checked="scoreSpec == 5"
                      :disabled="
                        doneDB ||
                        this.position == 1 ||
                        this.position == 'dep_purchase' ||
                        (this.position == 99 && this.textstore !== 'SUBMIT')
                      "
                    />
                    <label
                      id="l5"
                      for="5-star"
                      v-title="'ดีเยี่ยม ' + this.mov1_5"
                    ></label>

                    <input
                      type="radio"
                      id="4-star"
                      name="crating"
                      @click="starSpec(4)"
                      :checked="scoreSpec == 4"
                      :disabled="
                        doneDB ||
                        this.position == 1 ||
                        this.position == 'dep_purchase' ||
                        (this.position == 99 && this.textstore !== 'SUBMIT')
                      "
                    />

                    <label id="l4" for="4-star" v-title="'ดีมาก ' + this.mov1_4"
                      >4 stars</label
                    >
                    <input
                      type="radio"
                      id="3-star"
                      name="crating"
                      @click="starSpec(3)"
                      :checked="scoreSpec == 3"
                      :disabled="
                        doneDB ||
                        this.position == 1 ||
                        this.position == 'dep_purchase' ||
                        (this.position == 99 && this.textstore !== 'SUBMIT')
                      "
                    />
                    <label for="3-star" v-title="'ปานกลาง ' + this.mov1_3"
                      >3 stars</label
                    >
                    <input
                      type="radio"
                      id="2-star"
                      name="crating"
                      @click="starSpec(2)"
                      :checked="scoreSpec == 2"
                      :disabled="
                        doneDB ||
                        this.position == 1 ||
                        this.position == 'dep_purchase' ||
                        (this.position == 99 && this.textstore !== 'SUBMIT')
                      "
                    />
                    <label for="2-star" v-title="'ต้องปรับปรุง ' + this.mov1_2"
                      >2 stars</label
                    >
                    <input
                      type="radio"
                      id="1-star"
                      required=""
                      name="crating"
                      @click="starSpec(1)"
                      aria-required="true"
                      :checked="scoreSpec == 1"
                      :disabled="
                        doneDB ||
                        this.position == 1 ||
                        this.position == 'dep_purchase' ||
                        (this.position == 99 && this.textstore !== 'SUBMIT')
                      "
                    />
                    <label for="1-star" v-title="'แย่มาก ' + this.mov1_1"
                      >1 star</label
                    >
                  </ul>
                </div>
              </div>
            </div>
            <div class="B2 text-left p-2">
              <div class="C flex justify-center">
                <div class="w-1/2">{{ this.topic_two }}</div>
                <div class="divstar2 -mt-1">
                  <ul class="rate-area2">
                    <input
                      type="radio"
                      id="5-starr"
                      name="cratingg"
                      @click="starQua(5)"
                      :checked="scoreQua == 5"
                      :disabled="
                        doneDB ||
                        this.position == 1 ||
                        this.position == 'dep_purchase' ||
                        (this.position == 99 && this.textstore !== 'SUBMIT')
                      "
                    />
                    <label
                      id="l5_2"
                      for="5-starr"
                      v-title="'ดีเยี่ยม ' + this.mov2_5"
                      >5 stars</label
                    >
                    <input
                      type="radio"
                      id="4-starr"
                      name="cratingg"
                      @click="starQua(4)"
                      :checked="scoreQua == 4"
                      :disabled="
                        doneDB ||
                        this.position == 1 ||
                        this.position == 'dep_purchase' ||
                        (this.position == 99 && this.textstore !== 'SUBMIT')
                      "
                    />
                    <label for="4-starr" v-title="'ดีมาก ' + this.mov2_4"
                      >4 stars</label
                    >
                    <input
                      type="radio"
                      id="3-starr"
                      name="cratingg"
                      @click="starQua(3)"
                      :checked="scoreQua == 3"
                      :disabled="
                        doneDB ||
                        this.position == 1 ||
                        this.position == 'dep_purchase' ||
                        (this.position == 99 && this.textstore !== 'SUBMIT')
                      "
                    />
                    <label for="3-starr" v-title="'ปานกลาง ' + this.mov2_3"
                      >3 stars</label
                    >
                    <input
                      type="radio"
                      id="2-starr"
                      name="cratingg"
                      @click="starQua(2)"
                      :checked="scoreQua == 2"
                      :disabled="
                        doneDB ||
                        this.position == 1 ||
                        this.position == 'dep_purchase' ||
                        (this.position == 99 && this.textstore !== 'SUBMIT')
                      "
                    />
                    <label for="2-starr" v-title="'ต้องปรับปรุง ' + this.mov2_2"
                      >2 stars</label
                    >
                    <input
                      type="radio"
                      id="1-starr"
                      required=""
                      name="cratingg"
                      @click="starQua(1)"
                      aria-required="true"
                      :checked="scoreQua == 1"
                      :disabled="
                        doneDB ||
                        this.position == 1 ||
                        this.position == 'dep_purchase' ||
                        (this.position == 99 && this.textstore !== 'SUBMIT')
                      "
                    />
                    <label for="1-starr" v-title="'แย่มาก ' + this.mov2_1"
                      >1 star</label
                    >
                  </ul>
                </div>
              </div>
            </div>
            <div class="divImg flex justify-center mb-2">
              <label
                id="l_img"
                class="w-2/4 sm:w-1/4 p-1 mx-1 border border-gray-300 rounded-lg cursor-pointer"
              >
                <div class="divClickimg flex justify-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z"
                    />
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15 13a3 3 0 11-6 0 3 3 0 016 0z"
                    />
                  </svg>
                  <input
                    type="file"
                    id="fileImg"
                    ref="fileja"
                    name=""
                    hidden
                    accept="image/*"
                    @change="onChangeFileUpload"
                    :disabled="
                      doneDB ||
                      this.position == 1 ||
                      this.position == 'dep_purchase' ||
                      (this.position == 99 && this.textstore !== 'SUBMIT')
                    "
                  />
                </div>
                เพิ่มรูปภาพ
              </label>
              <label
                class="w-2/4 sm:w-1/4 p-1 mx-1 border border-gray-300 rounded-lg cursor-pointer"
              >
                <div class="flex justify-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"
                    />
                  </svg>
                  <input
                    type="file"
                    id="fileVideo"
                    ref="videona"
                    name=""
                    hidden
                    accept="video/*"
                    @change="onChangeFileUploadVideo"
                    :disabled="
                      doneDB ||
                      this.position == 1 ||
                      this.position == 'dep_purchase' ||
                      (this.position == 99 && this.textstore !== 'SUBMIT')
                    "
                  />
                </div>

                เพิ่มวิดีโอ
              </label>
            </div>
            <div
              class="border border-gray-300 rounded-lg p-2 flex justify-center m-1"
              v-if="this.loadfile !== 'nohave'"
            >
              <span
                v-for="pic in this.loadfile"
                :key="pic.attfile"
                class="w-auto flex justify-inline"
              >
                <img
                  v-if="pic.typefile !== 'mp4'"
                  :src="urlpic + pic.attfile + '.' + pic.typefile"
                  alt=""
                  class="rounded w-28 h-28 my-2"
                />
                <video v-else controls class="rounded w-28 h-28 my-2">
                  <source
                    :src="urlpic + pic.attfile + '.' + pic.typefile"
                    type="video/mp4"
                  />

                  Your browser does not support the video tag.
                </video>
                <button
                  class="h-5 w-5 -ml-3 mr-2"
                  @click="del_img(pic.typefile, pic.attfile)"
                  :disabled="
                    doneDB || (position == '99' && textstore !== 'SUBMIT')
                  "
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    :fill="
                      position == '99' && textstore !== 'SUBMIT'
                        ? 'gray'
                        : 'white'
                    "
                    viewBox="0 0 24 24"
                    :stroke="
                      position == '99' && textstore !== 'SUBMIT'
                        ? 'white'
                        : 'red'
                    "
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                  </svg>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="footer flex justify-end xl:mr-52 sm:mr-4">
        <div class="A flex sm:justify-end w-full sm:w-4/5">
          <div class="B w-full sm:w-4/5 text-left mx-2 sm:mx-0">
            <textarea
              name=""
              id=""
              rows="10"
              v-model="comments"
              class="w-full p-2 border border-gray-300 focus:outline-none focus:border-blue-500"
              placeholder="แสดงความคิดเห็น"
              :disabled="
                doneDB || this.position == 1 || this.position == 'dep_purchase'
              "
              :readonly="this.textstore !== 'SUBMIT'"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="subm hidden sm:block">
        <div class="A grid justify-items-end mb-4">
          <div class="B flex justify-inline">
            <button
              class="p-2 rounded-lg bg-gray-200 mr-4 hover:bg-gray-300 shadow-lg"
              @click="goback"
            >
              BACK
            </button>
            <button
              id="subm"
              @click="submit"
              class="p-2 rounded-lg bg-gray-200 mr-4 hover:bg-gray-300 shadow-lg"
              v-if="
                (this.position == 99 ||
                  this.position == 0 ||
                  this.position == 'purchase') &&
                !this.doneDB
              "
            >
              SUBMIT
            </button>
          </div>
        </div>
      </div>

      <div class="submi sm:hidden mb-2">
        <button
          v-if="this.textstore == 'SUBMIT'"
          @click="submit"
          class="p-2 rounded-lg bg-gray-200 mr-4 hover:bg-gray-300 shadow-lg"
        >
          SUBMIT
        </button>
        <button
          v-else
          class="p-2 rounded-lg bg-green-400 mr-4 shadow-lg cursor-default"
        >
          {{ this.textstore }}
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import detail from "../components/header_detail.vue";
import axios from "axios";
import { mapState } from "vuex";
const urlapi_upload = "https://hook.zubbsteel.com/line-ci/fileGR/api.php";
// const urlapi_delete = "https://hook.zubbsteel.com/line-ci/fileGR/delete.php";
// const fs = require("fs");
//const urlapi_delete = "https://hook.zubbsteel.com/line-ci/fileGR/delete.php";
const url = "https://hook.zubbsteel.com/line-ci/grpass/qpass/";
export default {
  computed: mapState(["userData", "isLogin"]),
  data() {
    return {
      po: this.$route.params.po_num,
      doneDB: false,
      position: "",
      gr: "",
      pr: "",
      receive_date: "",
      vendor: "",
      invno: "",
      invdate: "",
      sec: "",
      purGroup: "",
      amount: 840000,
      Comment: [
        { Position: "Store", Text: "สินค้าไม่มีความเสียหาย ฝากส่งไปแล้ว" },
        { Position: "Sanchai", Text: "ชั่งจริง 250 กก. ยอมรับอยู่ในค่า +-" },
      ],
      scoreSpec: "",
      scoreQua: "",
      pic: "",
      urlpic: "https://hook.zubbsteel.com/line-ci/fileGR/",
      item: {
        image: null,
        imageUrl: null,
      },
      user: "",
      file: "",
      filename: "",
      arrayFile: [],
      loadfile: [],
      nowIMG: "",
      url: null,
      youtubeLink: "https://www.youtube.com/watch?v=TcMBFSGVi1c",
      newComment: [],
      dataIN: [],
      othercom: [],
      cutcom: [],
      comments: "",
      topic_one: "",
      topic_two: "",
      trans_one: "",
      trans_two: "",
      dcomplan: "",
      default_complain: [
        { ID: 1, Name: "Choice1" },
        { ID: 2, Name: "Choice2" },
        { ID: 3, Name: "Choice3" },
      ],
      mov1_1: "",
      mov1_2: "",
      mov1_3: "",
      mov1_4: "",
      mov1_5: "",
      mov2_1: "",
      mov2_2: "",
      mov2_3: "",
      mov2_4: "",
      mov2_5: "",
      textstore: "SUBMIT",
    };
  },
  components: {
    detail,
  },
  async created() {
    console.log("USDT::", this.userData[0]);
    this.getLevel(this.userData[0].PRS_NO);
    this.user = this.userData[0].EMP_NAME;
    this.position = this.userData[0].position;
    this.getheader();
    this.reload();
    this.tooltips(this.userData[0].position);
  },
  watch: {
    loadfile(a, b) {
      console.log(a, "และ", b);
    },
  },
  methods: {
    async getLevel(empcode) {
      const lev = await axios.get(url + "getLevel/" + empcode);
      if (lev.data.length > 0) {
        this.position = lev.data[0].lv;

        if (lev.data[0].lv == "1") {
          this.lv = 2;
        } else {
          this.lv = 3;
        }
      } else {
        if (this.userData[0].DEP == "DPC" && this.userData[0].job_level == 0) {
          this.position = "purchase";
          this.lv = 1;
        } else if (this.userData[0].DEP == "DPC") {
          this.position = "dep_purchase";
          this.lv = 0;
        } else {
          this.position = 0;
          this.lv = 3;
        }
      }

      if (this.position == "dep_purchase" || this.position == "purchase") {
        this.topic_one = "ราคาเหมาะสม (Right Price)";
        this.topic_two = "การให้บริการของผู้ขาย (Good Service)";
      } else if (this.position == 0 || this.position == 1) {
        this.topic_one = "สินค้าได้ตรงตามที่สั่งซื้อ (จำนวน/สเปค)";
        this.topic_two = "คุณภาพและมาตรฐานของสินค้า";
      } else {
        this.topic_one = "การให้บริการของพนักงานขนส่ง";
        this.topic_two = "ความเรียบร้อยของเอกสาร";
      }
    },
    goback() {
      if (!this.doneDB) {
        axios.post(url + "updatecomment", {
          spec: this.scoreSpec,
          qua: this.scoreQua,
          commn: this.comments,
          po: this.po,
          gr: this.gr,
          user: this.user,
          position: this.position,
        });
      }

      if (this.position != "99") {
        this.$router.push({ name: "detail", params: { po_num: this.po } });
      } else {
        this.$router.push("/detail_im/");
      }
    },
    tooltips(a) {
      if (a == 0 || a == 1) {
        this.mov1_1 = "ส่งสินค้าผิดรุ่นบ่อยครั้ง";
        this.mov1_2 = "ส่งสินค้าผิดสเปค ผิดรุ่น ไม่ครบจำนวน";
        this.mov1_3 = "ส่งสินค้าผิดสเปค ผิดรุ่นบางรายการ แต่ยอมรับได้";
        this.mov1_4 = "ถูกต้อง ครบถ้วนดี";
        this.mov1_5 = "ถูกต้องครบถ้วนดีเยี่ยมและมีของแถมเพิ่มเติม";
        this.mov2_1 = "คุณภาพแย่มาก เสียหายเยอะและซ่อมไม่ได้";
        this.mov2_2 = "คุณภาพไม่ค่อยดี เคลมบ่อย เสียบ่อย";
        this.mov2_3 = "คุณภาพปานกลาง พอใช้ได้";
        this.mov2_4 = "สินค้าได้มาตรฐานและตรงกับที่ต้องการ";
        this.mov2_5 = "สินค้าได้มาตรฐานและมีใบรับรองคุณภาพ";
      } else if (a == "purchase" || a == "dep_purchase") {
        this.mov1_1 = "ราคาแพงมาก ไม่สมกับคุณภาพสินค้า";
        this.mov1_2 = "ราคาแพงกว่าคุณภาพที่รับได้";
        this.mov1_3 = "ราคากลางๆ สมราคา";
        this.mov1_4 = "ราคาไม่แพงมากและเหมาะสมกับคุณภาพ";
        this.mov1_5 = "ราคาไม่แพงและคุณภาพดี";
        this.mov2_1 = "พูดจาไม่สุภาพ ไม่รับผิดชอบสินค้าเสียหาย จัดส่งก็ช้า";
        this.mov2_2 =
          "ไม่ช่วยแนะนำ ไม่เสนอสิ่งที่ดีและคอยใส่ร้ายผู้ขายรายอื่นๆ";
        this.mov2_3 = "แนะนำในบางครั้ง ติดต่อเรื่องเคลมสินค้าไม่ค่อยได้";
        this.mov2_4 = "ให้ความช่วยเหลืออย่างดี พูดจาสุภาพ แก้ไขได้";
        this.mov2_5 =
          "ให้ความช่วยเหลืออย่างเต็มที่ พูดจาสุภาพ แก้ไขปัญหารวดเร็ว เสนอสิ่งที่คุ้มค่าให้เรา";
      } else {
        this.mov1_1 = "พูดจาไม่สุภาพและแสดงพฤติกรรมไม่เหมาะสม";
        this.mov1_2 = "พูดจาไม่ดี ไม่ช่วยเหลือ";
        this.mov1_3 = "ช่วยเป็นบางครั้ง พูดจาไม่ค่อยสุภาพ";
        this.mov1_4 = "พูดจาสุภาพ แต่งกายดี";
        this.mov1_5 = "พูดจาสุภาพ แต่งกายดี ให้ความช่วยเหลือ";
        this.mov2_1 = "เอกสารไม่เรียบร้อยต้องส่งคืน";
        this.mov2_2 = "เอกสารไม่เรียบร้อย แก้ไขหลายจุด";
        this.mov2_3 = "เอกสารเรียบร้อยพอใช้ มีแก้ไขนิดหน่อย";
        this.mov2_4 = "เอกสารเรียบร้อยดี";
        this.mov2_5 = "เอกสารถูกต้องครบถ้วน";
      }
    },
    starSpec(point) {
      this.scoreSpec = point;
      if (this.scoreSpec == 1) {
        if (this.position == "purchase") {
          this.trans_one = "ราคาแพงมาก ไม่สมกับคุณภาพสินค้า";
        } else if (this.position == 0) {
          this.trans_one = "ส่งสินค้าผิดรุ่นบ่อยครั้ง";
        } else {
          this.trans_one = "พูดจาไม่สุภาพและแสดงพฤติกรรมไม่เหมาะสม";
        }
      } else if (this.scoreSpec == 2) {
        if (this.position == "purchase") {
          this.trans_one = "ราคาแพงกว่าคุณภาพที่รับได้";
        } else if (this.position == 0) {
          this.trans_one = "ส่งสินค้าผิดสเปค ผิดรุ่น ไม่ครบจำนวน";
        } else {
          this.trans_one = "พูดจาไม่ดี ไม่ช่วยเหลือ";
        }
      } else if (this.scoreSpec == 3) {
        if (this.position == "purchase") {
          this.trans_one = "ราคากลางๆ สมราคา";
        } else if (this.position == 0) {
          this.trans_one = "ส่งสินค้าผิดสเปค ผิดรุ่นบางรายการ แต่ยอมรับได้";
        } else {
          this.trans_one = "ช่วยเป็นบางครั้ง พูดจาไม่ค่อยสุภาพ";
        }
      } else if (this.scoreSpec == 4) {
        if (this.position == "purchase") {
          this.trans_one = "ราคาไม่แพงมากและเหมาะสมกับคุณภาพ";
        } else if (this.position == 0) {
          this.trans_one = "ถูกต้อง ครบถ้วนดี";
        } else {
          this.trans_one = "พูดจาสุภาพ แต่งกายดี";
        }
      } else if (this.scoreSpec == 5) {
        if (this.position == "purchase") {
          this.trans_one = "ราคาไม่แพงและคุณภาพดี";
        } else if (this.position == 0) {
          this.trans_one = "ถูกต้องครบถ้วนดีเยี่ยมและมีของแถมเพิ่มเติม";
        } else {
          this.trans_one = "พูดจาสุภาพ แต่งกายดี ให้ความช่วยเหลือ";
        }
      }
    },
    starQua(point) {
      this.scoreQua = point;
      if (this.scoreQua == 1) {
        if (this.position == "purchase") {
          this.trans_two =
            "พูดจาไม่สุภาพ ไม่รับผิดชอบสินค้าเสียหาย จัดส่งก็ช้า";
        } else if (this.position == 0) {
          this.trans_two = "คุณภาพแย่มาก เสียหายเยอะและซ่อมไม่ได้";
        } else {
          this.trans_two = "เอกสารไม่เรียบร้อยต้องส่งคืน";
        }
      } else if (this.scoreQua == 2) {
        if (this.position == "purchase") {
          this.trans_two =
            "ไม่ช่วยแนะนำ ไม่เสนอสิ่งที่ดีและคอยใส่ร้ายผู้ขายรายอื่นๆ";
        } else if (this.position == 0) {
          this.trans_two = "คุณภาพไม่ค่อยดี เคลมบ่อย เสียบ่อย";
        } else {
          this.trans_two = "เอกสารไม่เรียบร้อย แก้ไขหลายจุด";
        }
      } else if (this.scoreQua == 3) {
        if (this.position == "purchase") {
          this.trans_two = "แนะนำในบางครั้ง ติดต่อเรื่องเคลมสินค้าไม่ค่อยได้";
        } else if (this.position == 0) {
          this.trans_two = "คุณภาพปานกลาง พอใช้ได้";
        } else {
          this.trans_two = "เอกสารเรียบร้อยพอใช้ มีแก้ไขนิดหน่อย";
        }
      } else if (this.scoreQua == 4) {
        if (this.position == "purchase") {
          this.trans_two = "ให้ความช่วยเหลืออย่างดี พูดจาสุภาพ แก้ไขได้";
        } else if (this.position == 0) {
          this.trans_two = "สินค้าได้มาตรฐานและตรงกับที่ต้องการ";
        } else {
          this.trans_two = "เอกสารเรียบร้อยดี";
        }
      } else if (this.scoreQua == 5) {
        if (this.position == "purchase") {
          this.trans_two =
            "ให้ความช่วยเหลืออย่างเต็มที่ พูดจาสุภาพ แก้ไขปัญหารวดเร็ว เสนอสิ่งที่คุ้มค่าให้เรา";
        } else if (this.position == 0) {
          this.trans_two = "สินค้าได้มาตรฐานและมีใบรับรองคุณภาพ";
        } else {
          this.trans_two = "เอกสารถูกต้องครบถ้วน";
        }
      }
    },
    async getheader() {
      const bigData = await axios.get(url + "get_detail_one/" + this.po);
      this.dataIN = bigData.data;
      this.gr = bigData.data[0].grnum;
      this.vendor = bigData.data[0].vendor;
      this.receive_date = bigData.data[0].receivedate;
      this.invno = bigData.data[0].deliverynote;
      this.invdate = bigData.data[0].invdate_t;
      const p = await axios.get(url + "poHead/" + this.po);

      this.pr = p.data[0].BANFN;
      this.sec = p.data[0].BEDNR;
      this.purGroup = p.data[0].EKNAM;
      this.manageCom();
      this.getfile();
      this.chkDo();
    },
    async chkDo() {
      const user_todo = await axios.get(
        url + "checkTodo/" + this.po + "/" + this.gr + "/" + this.position
      );
      if (user_todo.data[0]) {
        if (user_todo.data[0].usercom !== this.userData[0].EMP_NAME) {
          this.doneDB = true;
        }
      }
    },
    async getfile() {
      const filedata = await axios.post(url + "search_file", {
        po: this.po,
        gr: this.gr,
        user: this.user,
      });
      this.loadfile = filedata.data;
    },
    async manageCom() {
      const otc = await axios.get(
        url + "getcomment/" + this.po + "/" + this.gr + "/review"
      );
      //console.log(otc.data);
      this.othercom = otc.data;

      console.log("OTC=>", this.othercom);
      this.othercom.forEach((data) => {
        if (data.usercom == this.user) {
          this.comment_review = data.comment_review;
          this.scoreSpec = data.ratespec;
          this.scoreQua = data.ratequality;
        }
        console.log(otc.data);
        this.othercom.forEach((data) => {
          if (this.position == 1) {
            //เป็นผู้อนุมัติผู้ขอ
            if (data.lev == 3 && data.type == null) {
              this.scoreSpec = data.ratespec;
              this.scoreQua = data.ratequality;
            }
          } else if (this.position == "dep_purchase") {
            if (data.lev == 1 && data.type == null) {
              this.scoreSpec = data.ratespec;
              this.scoreQua = data.ratequality;
            }
          }
        });
      });
      this.othercom.forEach((data) => {
        if (data.comment_review !== null && data.comment_review !== "") {
          this.cutcom.push({
            comment_review: data.comment_review,
            usercom: data.usercom,
          });
        }
      });

      this.chkmycommn();
    },
    async chkmycommn() {
      //หาคอมเม้นของตัวเอง
      const mcm = await axios.post(url + "searchcomment/", {
        po: this.po,
        gr: this.gr,
        user: this.user,
      });
      //console.log("PO =>", this.po, "Gr", this.gr, "User=>", this.user);
      this.comments = mcm.data[0].comment_review;
    },
    changeTitle(a) {
      let g = a;
      return g;
    },
    fnChangename() {
      //let currentdate = new Date();
      // var datetime =
      //   currentdate.getDate() +
      //   "-" +
      //   (currentdate.getMonth() + 1) +
      //   "-" +
      //   currentdate.getFullYear();
      // สุ่มอักษรมาต่อท้าย เพื่อทำชื่อไฟล์ใหม่
      var result = "";
      var characters = "0123456789abcdefghijklmnopqrstuvwxyz";
      var charactersLength = characters.length;
      for (var i = 0; i < 5; i++) {
        result += characters.charAt(
          Math.floor(Math.random() * charactersLength)
        );
      }
      this.nowIMG = "PO" + this.po + "_GR" + this.gr + "_" + result;
    },
    onChangeFileUpload(e) {
      const file = e.target.files[0];
      this.image = file;
      this.filename = file.name;
      this.item.imageUrl = URL.createObjectURL(file);
      this.file = this.$refs.fileja.files[0];
      console.log(this.file);
      this.fnChangename();
      let type = this.file.name;
      type = type.split(".");
      let nametype = type.length - 1;
      this.arrayFile.push({
        name: this.file.name,
        sname: this.nowIMG,
        type: type[nametype],
      });
      this.uploadfile();
    },
    onChangeFileUploadVideo(v) {
      const file = v.target.files[0];
      this.image = file;
      this.filename = file.name;
      this.item.imageUrl = URL.createObjectURL(file);
      this.file = this.$refs.videona.files[0];
      this.fnChangename();
      let type = this.file.name;
      type = type.split(".");
      let nametype = type.length - 1;
      if (this.file.size < 10000000) {
        this.arrayFile.push({
          name: this.file.name,
          sname: this.nowIMG,
          type: type[nametype],
        });
      }
      this.uploadfile();
    },
    async uploadfile() {
      let formData = new FormData();
      let type = this.file.name;
      type = type.split(".");
      let nametype = type.length - 1;
      if (this.file.size > 10000000) {
        alert("ไฟล์ใหญ่เกินไป แนบได้ไม่เกิน 10 MB");
      } else {
        formData.append("file", this.file, this.nowIMG + "." + type[nametype]);
        axios.post(urlapi_upload, formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });

        await axios.post(url + "insert_file", {
          po: this.po,
          gr: this.gr,
          filename: this.nowIMG,
          type: type[nametype],
          user: this.user,
        });
        alert("Upload Success :)");
        this.getfile();
      }
    },
    reload() {
      const onChange = (event) => {
        const value = event.target.value;

        // this will return C:\fakepath\somefile.ext
        console.log(value);

        const files = event.target.files;

        //this will return an ARRAY of File object
        console.log(files);
      };

      return <input type="file" onChange={onChange} />;
    },
    async del_img(n, img) {
      var formData = new FormData();
      formData.delete(this.urlpic + img + "." + n);
      console.log("N->", n, "img=>", img);
      if (confirm("ต้องการลบไฟล์แนบใช่หรือไม่")) {
        const search = this.arrayFile.findIndex((x) => x.sname == img);
        const gall = this.loadfile.findIndex((x) => x.attfile == img);
        this.loadfile.splice(gall, 1);
        // console.log("ตำแหน่ง=>", search);
        this.arrayFile.splice(search, 1);
        if (this.loadfile.length == 0) {
          this.loadfile = "nohave";
        }
        // let formData = new FormData();
        // let type = n;
        // type = type.split(".");
        // let nametype = type.length - 1;
        // console.log(this.file);
        // console.log(newimgur);
        // formData.append("file", this.file, img + "." + type[nametype]);
        // axios.post(urlapi_delete, formData, {
        //   headers: {
        //     "Content-Type": "multipart/form-data",
        //   },
        // });

        axios.post(url + "delete_file", { file: img });
        alert("ลบไฟล์แนบแล้ว");
      }
    },

    async submit() {
      //ADD EMP FOR APP

      if (
        this.scoreSpec !== null &&
        this.scoreQua !== null &&
        this.comments !== ""
      ) {
        console.log(this.scoreSpec, "---", this.scoreQua, "---", this.comments);
        if (this.position != "99") {
          axios.post(url + "updatecomment", {
            spec: this.scoreSpec,
            qua: this.scoreQua,
            commn: this.comments,
            po: this.po,
            gr: this.gr,
            user: this.user,
            position: this.position,
            textspec: this.trans_one,
            textqua: this.trans_two,
          });
        } else {
          axios.post(url + "insert_com", {
            po: this.po,
            gr: this.gr,
            commn: this.comments,
            user: this.user,
            lv: this.lv,
            status: "insert",
            spec: this.scoreSpec,
            qua: this.scoreQua,
            position: this.position,
            textspec: this.trans_one,
            textqua: this.trans_two,
          });
          await axios.post(url + "updateapprove", {
            grnum: this.gr,
            position: this.position,
          });
        }

        if (this.position != "99") {
          const emp_app = await axios.get(url + "find_empcode/" + this.po);
          console.log("EMP:", emp_app.data[0].prs_no);
          let emp_ = emp_app.data[0].prs_no;
          const encryp = await axios.get(url + "testLib_in" + "/" + this.po);
          const encryp_emp = await axios.get(url + "testLib_in" + "/" + emp_);
          console.log(encryp, encryp_emp);
          await axios.post(url + "approvedpo", {
            po: this.po,
            gr: this.gr,
            user: this.user,
            position: this.position,
            section: this.userData[0].DEP,
            lev: this.lv,
          });

          await axios.post(url + "updateapprove", {
            grnum: this.gr,
            position: this.position,
          });

          // axios.post(url + "emailNoti", {
          //   po: this.po,
          //   gr: this.gr,
          //   section: this.userData[0].DEP,
          //   link: " http://192.168.140.48:8080/qpass/app/" + encryp.data.encryp,
          //   message: "Go to link for approve PO ==>",
          //   empapp: encryp_emp.data.encryp,
          //   position: this.position,
          // });

          // axios.post(url + "emailNoti_everyday", {
          //   po: this.po,
          //   gr: this.gr,
          //   section: this.userData[0].DEP,
          //   link: "https://report.zubbsteel.com/qpass/" + encryp.data.encryp,
          //   message: "Go to link for approve PO ==>",
          //   empapp: encryp_emp.data.encryp,
          //   position: this.position,
          // });
        }

        if (this.position != "99") {
          alert("ส่งขออนุมัติเรียบร้อยแล้ว");
        } else {
          alert("ให้คะแนนเรียบร้อยแล้ว");
        }
        if (this.position != "99") {
          this.$router.push("/detail_im/");
        } else {
          this.textstore = "SUBMIT SUCCESS:)";
        }
      } else {
        alert("ให้คะแนนและแสดงความคิดเห็นก่อนกด SUBMIT");
      }
    },
  },
};
</script>
<style>
video {
  border: 1px solid black;
  display: block;
}
.boxsizingBorder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rate-area {
  float: left;
  border-style: none;
}

.rate-area:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.rate-area:not(:checked) > label {
  float: right;
  width: 0.8em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  line-height: 32px;
  color: lightgrey;
  margin-bottom: 10px !important;
}

.rate-area:not(:checked) > label:before {
  content: "★";
}

.rate-area > input:checked ~ label {
  color: #e8262d;
  text-shadow: none;
}

.rate-area:not(:checked) > label:hover,
.rate-area:not(:checked) > label:hover ~ label {
  color: #e8262d;
}

.rate-area > input:checked + label:hover,
.rate-area > input:checked + label:hover ~ label,
.rate-area > input:checked ~ label:hover,
.rate-area > input:checked ~ label:hover ~ label,
.rate-area > label:hover ~ input:checked ~ label {
  color: #e8262d;
  text-shadow: none;
}

.rate-area > label:active {
  position: relative;
  top: 0px;
  left: 0px;
}

.rate-area2 {
  float: left;
  border-style: none;
}

.rate-area2:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.rate-area2:not(:checked) > label {
  float: right;
  width: 0.8em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  line-height: 32px;
  color: lightgrey;
  margin-bottom: 10px !important;
}

.rate-area2:not(:checked) > label:before {
  content: "★";
}

.rate-area2 > input:checked ~ label {
  color: #e8262d;
  text-shadow: none;
}

.rate-area2:not(:checked) > label:hover,
.rate-area2:not(:checked) > label:hover ~ label {
  color: #e8262d;
}

.rate-area2 > input:checked + label:hover,
.rate-area2 > input:checked + label:hover ~ label,
.rate-area2 > input:checked ~ label:hover,
.rate-area2 > input:checked ~ label:hover ~ label,
.rate-area2 > label:hover ~ input:checked ~ label {
  color: #e8262d;
  text-shadow: none;
}

.rate-area2 > label:active {
  position: relative;
  top: 0px;
  left: 0px;
}
</style>
