<template>
  <div>
    <div class="flex py-2 justify-center items-center w-full">
      <div class="">
        <input
          class="shadow appearance-none border border-gray-300 rounded-md py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="PO"
          type="text"
          placeholder="PO No."
          v-model="poSearch"
        />
      </div>
      <div class="bg-white">
        <TypeAhead
          v-model="data"
          :classes="classes"
          :placeholder="placeholder"
          src="https://hook.zubbsteel.com/line-ci/grpass/qpass/vendorSearch"
          :getResponse="getResponse"
          :selectFirst="selectFirst"
          :limit="parseInt(limit)"
          :queryParamName="queryParamName"
          :minChars="parseInt(minChars)"
          :delayTime="parseInt(delayTime)"
          :onHit="onHit"
          :highlighting="highlighting"
          :render="render"
          :fetch="fetch"
          @input="setV"
          id="tyyi"
        ></TypeAhead>
      </div>
      <searchIcon
        class="cursor-pointer"
        :data="searchData"
        @load="refreshData"
      ></searchIcon>
    </div>
    <div class="inline-block rounded-lg border shadow-2xl w-3/5">
      <table class="w-full border-none">
        <thead class="">
          <tr>
            <td class="font-semibold py-2">Po Num.</td>
            <td class="font-semibold">Vendor</td>
            <td class="font-semibold">Score Rating</td>
          </tr>
        </thead>
        <tbody class="bg-gray-100">
          <tr
            v-for="items in Data"
            :key="items.refdocno"
            class="hover:bg-gray-200"
          >
            <td
              class="hover:text-blue-500 cursor-pointer"
              @click="gotoPDF(items.grnum)"
            >
              {{ items.refdocno }}
            </td>
            <td>{{ items.vendor }}</td>
            <td>{{ items.avg }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import TypeAhead from "vue2-typeahead";
import searchIcon from "../icon/search.vue";
export default {
  data() {
    return {
      data: "",
      poSearch: "",
      venSearch: "",
      placeholder: "ค้นหา Vendor",
      classes: "border-none h-8 mx-2 w-52 overflow-y-visible ",
      selectFirst: false,
      limit: 9999,
      queryParamName: ":keyword",
      minChars: 2,
      delayTime: 500,
      picked: null,
      searchPoSend: "",
      loadData: [],
    };
  },

  async created() {
    const Data = await axios.post(
      "https://hook.zubbsteel.com/line-ci/grpass/v2/supplier_Report/",
      { ponum: null, vendor: null }
    );

    this.loadData = Data.data;
  },
  computed: {
    Data() {
      return this.loadData;
    },
    searchData() {
      return [this.poSearch, this.venSearch];
    },
  },
  components: { TypeAhead, searchIcon },
  methods: {
    refreshData(data) {
      this.loadData = data;
    },
    getResponse: function (response) {
      return response.data;
    },
    highlighting: function (item, vue) {
      return item.toString().replace(vue.query, `<b>${vue.query}</b>`);
    },
    render: function (items, vue) {
      let newItem = [vue.query, ...items];
      return newItem;
    },
    fetch: function (url) {
      return axios.post(url, { vendor: this.data });
    },
    setV(data) {
      if (data == "") {
        this.venSearch = null;
      } else {
        this.venSearch = data;
      }
    },
    onHit: function (item, vue) {
      vue.query = item;
      this.venSearch = item;
    },
    gotoPDF(gr) {
      window.open("https://report.zubbsteel.com/tcpdf/pdf/rating.php?gr=" + gr);
    },
  },
};
</script>
<style>
.dropdown-menu-list {
  background-color: white;
  border-left: 1px;
}
input#tyyi {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 38px;
  margin-top: -2px;
}
</style>
