<template>
  <div>
    <div class="fixTableHead">
      <table class="table-auto border-collapse w-full shadow-lg rounded mt-8">
        <thead class="w-full">
          <tr>
            <th class="bg-pink-500 w-24">NO.</th>
            <th class="bg-yellow-500 w-36">Name</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="i in test" :key="i" class="w-full">
            <td class="bg-green-500 w-24">{{ i }}</td>
            <td class="bg-green-400 w-36">{{ i }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
//import { PerfectScrollbar } from "vue2-perfect-scrollbar";

export default {
  data() {
    return {
      test: [
        "1",
        "2",
        "3",
        "1",
        "2",
        "3",
        "1",
        "2",
        "3",
        "1",
        "2",
        "3",
        "1",
        "2",
        "3",
        "1",
        "2",
        "3",
        "1",
        "2",
        "3",
        "1",
        "2",
        "3",
        "1",
        "2",
        "3",
      ],
    };
  },
  components: {
    //    PerfectScrollbar,
  },
};
</script>
<style scoped>
.bg {
  background-color: red;
  width: 100%;
  height: 660px;
}
.text {
  font-size: 80px;
}
.ps {
  height: 400px;
  position: sticky;
}

.fixTableHead {
  overflow-y: scroll;
  height: 110px;
}
.fixTableHead thead th {
  position: sticky;
  top: 0;
}
</style>
