<template>
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-search w-5"
      @click="As"
    >
      <title>search</title>
      <circle
        cx="11"
        cy="11"
        r="8"
        id="id_101"
        style="stroke: rgb(6, 90, 107)"
      ></circle>
      <line
        x1="21"
        y1="21"
        x2="16.65"
        y2="16.65"
        id="id_102"
        style="stroke: rgb(6, 90, 107)"
      ></line>
    </svg>
  </div>
</template>
<script>
import axios from "axios";

export default {
  props: ["data"],
  methods: {
    async As() {
      if (this.data[0] == "") {
        this.data[0] = null;
      }
      if (this.data[1] == "") {
        this.data[1] = null;
      }
      console.log("data ที่ค้นหา", this.data[0], "-", this.data[1]);
      const list = await axios.post(
        "https://hook.zubbsteel.com/line-ci/grpass/v2/supplier_Report/",
        { ponum: this.data[0], vendor: this.data[1] }
      );
      this.$emit("load", list.data);
    },
  },
};
</script>
