<template>
  <div>
    <div class="w-auto search-table-outter" hidden>
      <table class="table-auto text-xs overflow-x-auto" id="tblStocks">
        <thead class="">
          <th>PO Date</th>
          <th>Po No</th>
          <th>Purchaser</th>
          <th class="req">Requester</th>
          <th>Section</th>
          <th>Mat group</th>
          <th class="itmdes">Item Description</th>
          <th>QTY</th>
          <th>UOM</th>
          <th>Price</th>
          <th>Net Value</th>
          <th>Exchange Rate</th>
          <th>Currency</th>
          <th>Vendor Code</th>
          <th>Vendor Name</th>
          <th>Country</th>
          <th>Score (Store)</th>
          <th>Score (Requester)</th>
          <th>Score (Purchaser)</th>
          <th>Ave Score</th>
          <th>Grade</th>
          <th class="x">การให้บริการของพนักงานขนส่ง</th>
          <th class="x">ความเรียบร้อยของเอกสาร</th>
          <th class="y">สินค้าที่ได้ตรงตามที่สั่งซื้อ (จำนวน/สเปค)</th>
          <th class="x">คุณภาพและมาตราฐานของสินค้า</th>
          <th class="x">ราคาเหมาะสม (Right Price)</th>
          <th class="y">การให้บริการของผู้ขาย (Good Service)</th>
        </thead>
        <tbody>
          <tr v-for="(item, index) in newTab" :key="index">
            <td>{{ item.po_date }}</td>
            <td>{{ item.po_num }}</td>
            <td>{{ item.purgroup }}</td>
            <td class="req">{{ item.requester }}</td>
            <td>{{ item.section }}</td>
            <td>{{ item.matgroup }}</td>
            <td class="itmdes">{{ item.description }}</td>
            <td>{{ item.qty }}</td>
            <td>{{ item.UOM[0] }}</td>
            <td>{{ item.Unitprice[0] }}</td>
            <td>{{ item.netPrice[0] }}</td>
            <td></td>
            <td></td>
            <td>{{ item.vendor_code }}</td>
            <td>{{ item.vendor_name }}</td>
            <td></td>
            <td>{{ item.score_store }}</td>
            <td>{{ item.score_req }}</td>
            <td>{{ item.score_pur }}</td>
            <td>{{ item.avg }}</td>
            <td>{{ item.grade }}</td>
            <td class="x">{{ item.store_text1 }}</td>
            <td class="x">{{ item.store_text2 }}</td>
            <td class="y">{{ item.req_text1 }}</td>
            <td class="x">{{ item.req_text2 }}</td>
            <td class="x">{{ item.pur_text1 }}</td>
            <td class="y">{{ item.pur_text2 }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <button
      v-show="this.vend && this.DataTablee.length !== 0"
      @click="exportData('tblStocks')"
      class="p-2 rounded-full mt-4 font-semibold hover:text-white bg-gradient-to-t from-indigo-400 via-purple-400 to-pink-400 shadow-lg"
    >
      Export Excel Test
    </button>
  </div>
</template>

<script>
import axios from "axios";
export default {
  props: ["date", "vendor"],
  data() {
    return {
      DataTablee: [],
      date1: "",
      date2: "",
      vend: "",
      spin: false,
    };
  },
  created() {
    this.loadData();
  },
  computed: {
    newTab() {
      //this.loadData();
      return this.DataTablee;
    },
    returnSPIN() {
      return this.spin;
    },
  },
  watch: {
    date(a) {
      this.date1 = a[0];
      this.date2 = a[1];
      this.loadData();
    },
    vendor(a) {
      this.vend = a;
      this.loadData();
    },
  },
  methods: {
    async loadData() {
      if (this.vend) {
        //console.log(this.date1, "-", this.date2, "-", this.vend);
        this.spin = true;
        const list = await axios.post(
          "https://hook.zubbsteel.com/line-ci/grpass/qpass/ReportExcel",
          { date1: this.date1, date2: this.date2, vendor: this.vend }
        );
        this.DataTablee = list.data;
        this.spin = false;
        await this.DataTablee.forEach((data) => {
          let req = data.requester.split(" ");
          data.requester = req[0] + " " + req[1];

          let matg = data.matgroup.slice(0, 3);
          data.matgroup = matg;
        });
      }
    },

    exportData(tableID) {
      var downloadLink;
      var dataType = "application/vnd.ms-excel";
      var tableSelect = document.getElementById(tableID);
      var tableHTML = tableSelect.outerHTML.replace(/ /g, "%20");

      // Specify file name
      var filename = filename ? filename + ".xls" : this.vendor + "_data.xls";

      // Create download link element
      downloadLink = document.createElement("a");

      document.body.appendChild(downloadLink);

      if (navigator.msSaveOrOpenBlob) {
        var blob = new Blob(["\ufeff", tableHTML], {
          type: dataType,
        });
        navigator.msSaveOrOpenBlob(blob, filename);
      } else {
        // Create a link to the file
        downloadLink.href = "data:" + dataType + ", " + tableHTML;

        // Setting the file name
        downloadLink.download = filename;

        //triggering the function
        downloadLink.click();
      }
    },
  },
};
</script>
<style scoped>
.search-table-outter {
  overflow-x: scroll;
}

th,
td {
  min-width: 100px;
}
th.x,
td.x {
  min-width: 235px;
}

td.y {
  min-width: 250px;
}
th.itmdes,
td.itmdes {
  min-width: 200px;
}
th.req,
td.req {
  min-width: 120px;
}
</style>
