<template>
  <div class="flex py-2 justify-center items-center w-full">
    <div class="">
      <span><strong>PO Date : </strong></span>
      <date-picker
        v-model="time3"
        :pick="setF()"
        range
        value-type
      ></date-picker>
    </div>
    <div class="flex mx-2 bg-white" v-if="this.v == 1">
      <TypeAhead
        v-model="data"
        :classes="classes"
        :placeholder="placeholder"
        src="https://hook.zubbsteel.com/line-ci/grpass/qpass/vendorSearch"
        :getResponse="getResponse"
        :selectFirst="selectFirst"
        :limit="parseInt(limit)"
        :queryParamName="queryParamName"
        :minChars="parseInt(minChars)"
        :delayTime="parseInt(delayTime)"
        :onHit="onHit"
        :highlighting="highlighting"
        :render="render"
        :fetch="fetch"
        @input="setV"
      ></TypeAhead>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";
import TypeAhead from "vue2-typeahead";

export default {
  components: { DatePicker, TypeAhead },
  data() {
    return {
      time3: null,
      picked: null,
      data: "",
      selectFirst: false,
      limit: 9999,
      queryParamName: ":keyword",
      minChars: 2,
      delayTime: 500,
      placeholder: "ค้นหา Vendor",
      classes: "typeahead border h-8 rounded mx-2 w-full overflow-y-visible ",
    };
  },
  props: ["v"],
  created() {
    console.log("V:", this.v);
  },
  methods: {
    setF() {
      this.$store.commit("setFilter", {
        date: this.time3,
        vendor: this.picked,
      });
    },
    getResponse: function (response) {
      return response.data;
    },
    onHit: function (item, vue) {
      this.chkV = null;
      vue.query = item;
      this.picked = item;
      this.$store.commit("setFilter", {
        date: this.time3,
        vendor: this.item,
      });
    },
    highlighting: function (item, vue) {
      return item.toString().replace(vue.query, `<b>${vue.query}</b>`);
    },
    render: function (items, vue) {
      let newItem = [vue.query, ...items];
      return newItem;
    },
    fetch: function (url) {
      return axios.post(url, { vendor: this.data });
    },
    setV(data) {
      if (data == "") {
        this.picked = null;
      } else {
        this.picked = data;
      }
    },
  },
};
</script>

<style>
.form-control {
  @apply h-7  text-center;
}
.typeahead-dropdown-container {
  @apply bg-white
  border-l border-r border-b;
}
</style>
