<template>
  <div>
    <div class="flex py-2 justify-center items-center w-full">
      <div class="">
        <span><strong>PO Date : </strong></span>
        <date-picker
          v-model="time3"
          :pick="setF()"
          range
          value-type
        ></date-picker>
      </div>
      <div class="bg-white">
        <TypeAhead
          v-model="data"
          :classes="classes"
          :placeholder="placeholder"
          src="https://hook.zubbsteel.com/line-ci/grpass/qpass/vendorSearch"
          :getResponse="getResponse"
          :selectFirst="selectFirst"
          :limit="parseInt(limit)"
          :queryParamName="queryParamName"
          :minChars="parseInt(minChars)"
          :delayTime="parseInt(delayTime)"
          :onHit="onHit"
          :highlighting="highlighting"
          :render="render"
          :fetch="fetch"
          @input="setV"
          id="tyy"
        ></TypeAhead>
      </div>
    </div>
    <div class="py-2 px-10 mx-auto">
      <table class="w-full">
        <thead>
          <tr>
            <th>Vendor Code</th>
            <th>Vendor Name</th>
            <th>PO Date</th>
            <th>PO No</th>
            <th>Amount</th>
            <th>Score(Store)</th>
            <th>Score(Req)</th>
            <th>Score(Pur)</th>
            <th>Avg Score</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in List" :key="item.vendor">
            <td>{{ item.vendor_code }}</td>
            <td>{{ item.vendor_name }}</td>
            <td>{{ item.po_date }}</td>
            <td>{{ item.po_num }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.score_store }}</td>
            <td>{{ item.score_req }}</td>
            <td>{{ item.score_pur }}</td>
            <td>
              {{ item.avg }}
            </td>
          </tr>
        </tbody>
      </table>

      <exportexcel :date="time3" :vendor="this.picked"></exportexcel>
      <!-- <span>{{ pFilter }}</span> -->
    </div>
  </div>
</template>

<script>
import axios from "axios";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";
import TypeAhead from "vue2-typeahead";

import exportexcel from "./ExportExcel.vue";
export default {
  components: { DatePicker, TypeAhead, exportexcel },

  props: {
    pFilter: {
      type: Object,
      default() {
        return { date: [], vendor: null };
      },
    },
  },
  mounted() {
    this.fetchVendor(this.pFilter);
  },
  computed: {
    List() {
      //this.fetchVendor(this.pFilter);

      return this.listVendor;
    },
  },
  watch: {
    time3(a) {
      this.day1 = a[0];
      this.day2 = a[1];

      this.fetchVendor();
    },

    picked() {
      this.fetchVendor();
    },
  },
  data() {
    return {
      listVendor: [],
      time3: null,
      picked: null,
      data: "",
      selectFirst: false,
      limit: 9999,
      queryParamName: ":keyword",
      minChars: 2,
      delayTime: 500,
      placeholder: "ค้นหา Vendor",
      classes: "border-none h-8 mx-2 w-52 overflow-y-visible ",
      day1: "",
      day2: "",
    };
  },
  created() {},
  methods: {
    async fetchVendor() {
      console.log("Vendor:", this.picked);
      const list = await axios.post(
        "https://hook.zubbsteel.com/line-ci/grpass/qpass/vendorList",
        { date1: this.day1, date2: this.day2, vendor: this.picked }
      );
      this.listVendor = list.data;
    },
    setF() {
      this.$store.commit("setFilter", {
        date: this.time3,
        vendor: this.picked,
      });
    },
    getResponse: function (response) {
      return response.data;
    },
    onHit: function (item, vue) {
      this.chkV = null;
      vue.query = item;
      this.picked = item;
      this.$store.commit("setFilter", {
        date: this.time3,
        vendor: this.item,
      });
    },
    highlighting: function (item, vue) {
      return item.toString().replace(vue.query, `<b>${vue.query}</b>`);
    },
    render: function (items, vue) {
      let newItem = [vue.query, ...items];
      return newItem;
    },
    fetch: function (url) {
      return axios.post(url, { vendor: this.data });
    },
    setV(data) {
      if (data == "") {
        this.picked = null;
      } else {
        this.picked = data;
      }
    },
  },
};
</script>

<style>
table,
tr,
td,
td {
  @apply border;
}

th {
  @apply bg-gray-300;
}
.form-control {
}
/* .typeahead-dropdown-container {
  @apply bg-white
  border-l border-r border-b;
} */
.dropdown-menu-list {
  background-color: white;
  border-left: 1px;
}

input#tyy {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 35px;
  margin-top: -1px;
}
</style>
