<template>
  <div>
    <div class="flex py-2 justify-center items-center w-full">
      <div class="">
        <span><strong>PO Date : </strong></span>
        <date-picker
          v-model="time3"
          :pick="setF()"
          range
          value-type
        ></date-picker>
      </div>
    </div>
    <div class="accordion flex justify-center" id="accordionExample3">
      <div class="w-2/3">
        <div
          class="hw accordion-button relative flex items-center w-full px-5 text-base text-gray-800 text-center bg-white rounded-t-lg border-l border-r border-b bg-gray-300"
        >
          <table class="w-full">
            <thead class="text-purple-500">
              <tr>
                <th class="border-l border-r border-b bg-gray-300 w-32">
                  Vendor Code
                </th>
                <th class="border-l border-r border-b bg-gray-300 w-52">
                  Vendor Name
                </th>
                <th class="border-l border-r border-b bg-gray-300 w-32">
                  Ave Score
                </th>
                <th class="border-l border-r border-b bg-gray-300 w-28">
                  Grade
                </th>
              </tr>
            </thead>
          </table>
        </div>

        <div
          class="accordion-item bg-white border border-gray-200"
          v-for="(i, index) in this.List"
          :key="index"
        >
          <h2 class="accordion-header mb-0" :id="'heading_' + index">
            <button
              class="accordion-button relative flex items-center w-full px-5 text-base text-gray-800 text-center bg-white border-0 rounded-none transition focus:outline-none collapsed"
              type="button"
              data-bs-toggle="collapse"
              :data-bs-target="'#collapse' + index"
              aria-expanded="false"
              :aria-controls="'collapse' + index"
            >
              <table class="w-full">
                <thead>
                  <tr class="">
                    <td
                      class="border-l border-r border-b bg-gray-300 bg-indigo-100 w-32"
                    >
                      {{ i.vendor_code }}
                    </td>
                    <td
                      class="border-l border-r border-b bg-gray-300 bg-indigo-100 w-52"
                    >
                      {{ i.vendor_name }}
                    </td>
                    <td
                      class="border-l border-r border-b bg-gray-300 bg-indigo-100 w-32"
                    >
                      {{ i.avg }}
                    </td>
                    <td
                      class="border-l border-r border-b bg-gray-300 bg-indigo-100 w-28"
                    >
                      {{ i.grade }}
                    </td>
                  </tr>
                </thead>
              </table>
            </button>
          </h2>
          <div
            :id="'collapse' + index"
            class="accordion-collapse collapse"
            :aria-labelledby="'heading_' + index"
            data-bs-parent="#accordionExample3"
          >
            <div class="flex flex-col">
              <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-1 inline-block w-full sm:px-6 lg:px-8">
                  <div class="overflow-hidden">
                    <table class="w-full">
                      <thead class="bg-white border-b">
                        <tr>
                          <th
                            scope="col"
                            class="text-sm text-gray-900 px-6 py-1 text-center w-1/12"
                          >
                            ลำดับ
                          </th>
                          <th
                            scope="col"
                            class="text-sm text-gray-900 px-6 py-1 text-center w-24"
                          >
                            PO NO.
                          </th>
                          <th
                            scope="col"
                            class="text-sm text-gray-900 px-6 py-1 text-center w-2/12"
                          >
                            GR NO.
                          </th>
                          <th
                            scope="col"
                            class="text-sm text-gray-900 px-6 py-1 text-center w-1/12"
                          >
                            คะแนน
                          </th>
                          <th
                            scope="col"
                            class="text-sm text-gray-900 px-6 py-1 text-center w-2/12"
                          >
                            หมายเหตุจากสโตร์
                          </th>
                          <th
                            scope="col"
                            class="text-sm text-gray-900 px-6 py-1 text-center w-2/12"
                          >
                            หมายเหตุจากผู้ขอ
                          </th>
                          <th
                            scope="col"
                            class="text-sm text-gray-900 px-6 py-1 text-center w-2/12"
                          >
                            หมายเหตุจากจัดซื้อ
                          </th>
                        </tr>
                      </thead>
                      <tbody
                        v-for="(mini, index) in i.poList"
                        :key="index"
                        class="w-full"
                      >
                        <tr class="bg-gray-100 border-b">
                          <td
                            class="px-6 py-2 whitespace-nowrap text-sm text-gray-900 w-20"
                          >
                            {{ index + 1 }}
                          </td>
                          <td
                            rowspan="2"
                            class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap"
                          >
                            {{ mini.po }}
                          </td>
                          <td
                            class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap"
                          >
                            {{ mini.grnum }}
                          </td>
                          <td
                            class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap"
                          >
                            {{ mini.average }}
                          </td>
                          <td
                            class="text-sm text-gray-900 font-light px-6 py-2 w-32"
                          >
                            <div class="">
                              <span
                                :class="
                                  mini.cl1 +
                                  'rounded-full w-full  px-4 text-white'
                                "
                              >
                                {{ mini.scores }}
                              </span>
                            </div>
                            <div class="">
                              {{ mini.comms }}
                            </div>
                          </td>
                          <td
                            class="text-sm text-gray-900 font-light px-6 py-2 w-32"
                          >
                            <div>
                              <span
                                :class="
                                  mini.cl2 +
                                  'rounded-full w-full  px-4 text-white'
                                "
                              >
                                {{ mini.scoren }}</span
                              >
                            </div>
                            <div>{{ mini.commn }}</div>
                          </td>
                          <td
                            class="text-sm text-gray-900 font-light px-6 py-2 w-32"
                          >
                            <div>
                              <span
                                :class="
                                  mini.cl3 +
                                  'rounded-full w-full  px-4 text-white'
                                "
                              >
                                {{ mini.scorep }}</span
                              >
                            </div>
                            <div>{{ mini.commp }}</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <span>{{ pFilter }}</span> -->
  </div>
</template>
<script>
import axios from "axios";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";

export default {
  components: { DatePicker },
  data() {
    return {
      selDate: "",
      DataList: [],
      time3: "",
      date1: "",
      date2: "",
    };
  },
  created() {
    this.fetchdata();
  },
  computed: {
    List() {
      return this.DataList;
    },
  },
  props: {
    pFilter: {
      type: Object,
      default() {
        return { date: [] };
      },
    },
  },
  watch: {
    time3(a) {
      this.date1 = a[0];
      this.date2 = a[1];
      this.fetchdata(this.pFilter);
    },
  },
  methods: {
    setF() {
      this.$store.commit("setFilter", {
        date: this.time3,
        vendor: this.picked,
      });
    },
    async fetchdata() {
      const table_grade = await axios.post(
        "https://hook.zubbsteel.com/line-ci/grpass/qpass/VendorGrade",
        { date1: this.date1, date2: this.date2 }
      );

      this.DataList = table_grade.data;
      this.DataList.forEach((element) => {
        element.poList.forEach((data) => {
          if (data.scores >= "0" && data.scores <= "2.99") {
            data.cl1 = "bg-red-400 ";
          } else if (data.scores >= "3.0" && data.scores <= "3.99") {
            data.cl1 = "bg-yellow-400 ";
          } else {
            data.cl1 = "bg-green-400 ";
          }

          if (data.scoren >= "0" && data.scoren <= "2.99") {
            data.cl2 = "bg-red-400 ";
          } else if (data.scoren >= "3.0" && data.scoren <= "3.99") {
            data.cl2 = "bg-yellow-400 ";
          } else {
            data.cl2 = "bg-green-400 ";
          }

          if (data.scorep >= "0" && data.scorep <= "2.99") {
            data.cl3 = "bg-red-400 ";
          } else if (data.scorep >= "3.0" && data.scorep <= "3.99") {
            data.cl3 = "bg-yellow-400 ";
          } else {
            data.cl3 = "bg-green-400 ";
          }

          if (data.commn == null) {
            data.commn = "(ไม่มีความเห็น)";
          }
          if (data.comms == null) {
            data.comms = "(ไม่มีความเห็น)";
          }
          if (data.commp == null) {
            data.commp = "(ไม่มีความเห็น)";
          }
        });
      });
    },
  },
};
</script>
<style></style>
