<template>
  <div>
    <div>Loading..</div>
  </div>
</template>
<script>
import { mapState } from "vuex";
import axios from "axios";
const url = "https://hook.zubbsteel.com/line-ci/grpass/qpass/";

export default {
  computed: mapState(["userData", "isLogin"]),
  async created() {
    if (this.$route.params.prs_no == null) {
      this.$route.params.prs_no = "58080038";
    }

    if (this.$route.params.prs_no.length > 8) {
      this.check_empcode();
    } else {
      await this.logIn();
    }
  },
  methods: {
    // async logIn() {
    //   await axios
    //     .get(
    //       `https://hook.zubbsteel.com/line-ci/grpass/qpass/user/${this.$route.params.prs_no}`
    //     )
    //     .then((Response) => this.$store.commit("setUserData", Response.data))
    //     .then(this.$router.push("/detail_im/"));
    //   await console.log(this.userData);
    // },
    async check_empcode() {
      const empBef = await axios.get(
        url + "testLib_out/" + this.$route.params.prs_no
      );
      // if (empBef.data.decryp !== this.userData[0].PRS_NO) {
      //   this.$store.commit("setLogOut");
      // }
      await axios
        .get(
          `https://hook.zubbsteel.com/line-ci/grpass/qpass/user/` +
            empBef.data.decryp
        )
        .then((Response) => this.$store.commit("setUserData", Response.data));
      await this.$router.push("/detail_im/");
    },
    async logIn() {
      await axios
        .get(
          `https://hook.zubbsteel.com/line-ci/grpass/qpass/user/${this.$route.params.prs_no}`
        )
        .then((Response) => this.$store.commit("setUserData", Response.data));
      await this.$router.push("/detail_im/");
      // await ;
    },
  },

  data() {
    return {};
  },
};
</script>

<style></style>
