<template>
  <div class="nav-bar">
    <nav
      class="flex items-center justify-between flex-wrap bg-red-500 p-2 md:p-2"
    >
      <div class="block md:hidden">
        <button
          data-collapse-toggle="mobile-menu"
          aria-controls="mobile-menu"
          class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:border-white"
        >
          <svg
            class="fill-current h-3 w-3"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <div
        class="w-full block flex-grow md:flex md:items-center md:w-auto"
        id="mobile-menu"
      >
        <div class="text-base font-light md:flex-grow">
          <span
            @click="home"
            class="block mt-4 md:inline-block md:mt-0 text-white mx-10 cursor-pointer"
          >
            Home
          </span>
          <span class="block mt-4 md:inline-block md:mt-0 text-white mx-10">
            Profile
          </span>
          <span class="block mt-4 md:inline-block md:mt-0 text-white mx-10">
            Manual
          </span>
          <span class="block mt-4 md:inline-block md:mt-0 text-white mx-10">
            Contact
          </span>
          <!-- <span
            @click="logout"
            class="block mt-4 md:inline-block md:mt-0 text-white mx-10 cursor-pointer"
          >
            Logout
          </span> -->
        </div>
        <div>
          <a
            href="#"
            class="inline-block text-sm px-4 py-2 leading-none text-white mt-4 md:mt-0"
            >{{ isLogin ? userData[0].EMP_NAME : "" }}</a
          >
        </div>
      </div>
    </nav>
  </div>
</template>
<script>
import { mapState } from "vuex";
export default {
  computed: mapState(["userData", "isLogin"]),
  created() {
    console.log("User Data::", this.userData);
  },
  methods: {
    home() {
      this.$router.push("/detail_im/");
    },
    logout() {
      this.$store.commit("setLogOut");
      location = "http://info.zubbsteel.com";
    },
    hidden() {
      alert("ซ่อนแถบแดง");
    },
  },
};
</script>
