<template>
  <div class="nav-bar">
    <nav
      class="flex items-center justify-between flex-wrap bg-red-500 p-2 md:p-2"
    >
      <div class="block md:hidden">
        <button
          data-collapse-toggle="mobile-menu"
          aria-controls="mobile-menu"
          class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:border-white"
        >
          <svg
            class="fill-current h-3 w-3"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <!-- <div>
        {{ userData[0] }}
      </div> -->
      <div
        class="w-full block flex-grow md:flex md:items-center md:w-auto hidden"
        id="mobile-menu"
      >
        <div class="text-base font-light md:flex-grow">
          <span
            @click="home"
            class="hover:text-black block mt-4 md:inline-block md:mt-0 text-white mx-4 sm:mx-10 cursor-pointer rounded hover:bg-red-300 sm:hover:bg-red-500"
          >
            Home
          </span>
          <span
            v-if="userData[0].job_level !== 0"
            @click="rp"
            class="hover:text-black block mt-4 md:inline-block md:mt-0 text-white mx-4 sm:mx-10 cursor-pointer rounded hover:bg-red-300 sm:hover:bg-red-500"
          >
            Report
          </span>
          <span
            v-else
            class="block mt-4 md:inline-block md:mt-0 text-white mx-4 sm:mx-10 rounded cursor-default hover:bg-red-300 sm:hover:bg-red-500"
          >
            Report
          </span>
          <span
            class="hover:text-black block mt-4 md:inline-block md:mt-0 text-white mx-4 sm:mx-10 cursor-pointer rounded hover:bg-red-300 sm:hover:bg-red-500"
            v-if="
              (userData[0].job_level !== 0 && userData[0].DEP == 'DPC') ||
              userData[0].DEP == 'DPC'
            "
            @click="SRF"
          >
            Supplier Rating Form
          </span>
          <span
            class="block mt-4 md:inline-block md:mt-0 text-white mx-4 sm:mx-10 rounded cursor-default hover:bg-red-300 sm:hover:bg-red-500"
            v-else
          >
            Supplier Rating Form
          </span>
          <span
            class="block mt-4 md:inline-block md:mt-0 text-white mx-4 sm:mx-10 rounded hover:bg-red-300 sm:hover:bg-red-500"
          >
            Manual
          </span>
          <span
            class="block mt-4 md:inline-block md:mt-0 text-white mx-4 sm:mx-10 rounded hover:bg-red-300 sm:hover:bg-red-500"
          >
            Contact
          </span>
          <!-- <span
            @click="logout"
            class="block mt-4 md:inline-block md:mt-0 sm:text-white mx-10 cursor-pointer"
          >
            Logout
          </span> -->
        </div>
        <div>
          <a
            href="#"
            class="inline-block text-sm px-4 py-2 leading-none text-white mt-4 md:mt-0 hover:text-black"
            >{{ isLogin ? userData[0].EMP_NAME : "" }}</a
          >
        </div>
      </div>
    </nav>
  </div>
</template>
<script>
import { mapState } from "vuex";
import axios from "axios";

export default {
  computed: mapState(["userData", "isLogin"]),
  async created() {
    //console.log("name:", this.userData[0].EMP_NAME);

    if (this.userData.length == 0) {
      await axios
        .get(`https://hook.zubbsteel.com/line-ci/grpass/qpass/user/58080038`)
        .then((Response) => this.$store.commit("setUserData", Response.data));
    }
  },
  methods: {
    home() {
      this.$router.push("/detail_im/");
    },
    rp() {
      this.$router.push("/rep");
    },
    logout() {
      this.$store.commit("setLogOut");
      location = "http://info.zubbsteel.com";
    },
    hidden() {
      alert("ซ่อนแถบแดง");
    },
    SRF() {
      this.$router.push("/srf");
    },
    // async getLevel() {
    //   const lev = await axios.get(url + "getLevel/" + empcode);
    //   if (lev.data.length > 0) {
    //     this.position = lev.data[0].lv;
    //     if (lev.data[0].lv == 1 && this.userData[0].BU !== "FNA") {
    //       this.userData[0].roles = "ผู้ขอซื้อ";
    //       this.userData[0].level_roles = 1;
    //       this.lv = 2;
    //     } else if (lev.data[0].lv == 99) {
    //       this.userData[0].roles = "สไตร์";
    //       this.userData[0].level_roles = 99;
    //       this.lv = 3;
    //     } else {
    //       this.userData[0].roles = "บัญชี";
    //       this.userData[0].level_roles = 1;
    //       this.position = "FNA";
    //     }
    //   } else {
    //     if (this.userData[0].DEP == "DPC" && this.userData[0].job_level == 0) {
    //       this.position = "purchase";
    //       this.userData[0].roles = "จัดซื้อ";
    //       this.userData[0].level_roles = 0;
    //       this.lv = 1;
    //     } else if (this.userData[0].DEP == "DPC") {
    //       this.position = "dep_purchase";
    //       this.userData[0].roles = "จัดซื้อ";
    //       this.userData[0].level_roles = 1;
    //       this.lv = 0;
    //     } else {
    //       this.position = 0;
    //       this.userData[0].roles = "ผู้ขอซื้อ";
    //       this.userData[0].level_roles = 0;
    //       this.lv = 3;
    //     }
    //   }
    // },
  },
};
</script>
