<template>
  <div>
    <table>
      <thead>
        <th>PO.</th>
        <th>Item Description</th>
        <th>UOM</th>
        <th>QTY</th>
      </thead>
      <tbody>
        <tr>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {};
</script>
<style></style>
