<template>
  <div>
    <div class="hidden" id="modal">
      <div class="modal-overlay" id="mdol">
        <div class="modal">
          <div
            class="flex justify-start flex-wrap"
            v-if="this.loadfile.length !== 0"
          >
            <span
              v-for="(file, index) in this.loadfile"
              :key="file.attfile"
              class="mx-1"
            >
              <img
                v-if="file.typefile !== 'mp4'"
                class="rounded w-28 h-28 my-2 cursor-pointer"
                :src="srcImg(file.attfile, file.typefile)"
                alt=""
                :data-lightbox="'AU_' + file.attfile"
                @click="() => showImg(index)"
              />
              <video
                v-else
                controls
                class="rounded w-28 h-28 my-2 cursor-pointer"
              >
                <source
                  :src="urlpic + file.attfile + '.' + file.typefile"
                  type="video/mp4"
                />

                Your browser does not support the video tag.
              </video>
            </span>
          </div>
          <div v-else>
            <p class="text-red-500 font-bold">No Data</p>
          </div>
          <vue-easy-lightbox
            :visible="visible"
            :imgs="imgs"
            :index="index"
            @hide="handleHide"
          ></vue-easy-lightbox>
        </div>
        <div class="close z-50" id="clickclose" @click="toggleModal">
          <img class="close-img" src="../assets/close.png" alt="" />
        </div>
      </div>
    </div>
    <div
      class="border-2 border-gray-300 max-w-full mx-auto bg-gray-100 text-left"
    >
      <span class="font-light ml-4">Q-PASS List</span>
      <!--- กล่องใน --->
      <div class="border-2 border-gray-300 bg-white mx-4 mb-2">
        <SearchPO
          @refetch="alldata"
          :props_sec="this.allsection"
          :props_pur="this.allpurchase"
        />
        <div
          class="flex justify-center items-center w-full mt-48 mb-60"
          v-if="this.loading"
        >
          <div
            class="loader ease-linear rounded-full border-8 border-t-8 border-gray-200 h-16 w-16"
          ></div>
        </div>
        <div
          v-if="
            (this.position == 1 || this.position == 'dep_purchase') &&
            this.pouse.length != 0
          "
          class="mb-4"
        >
          <button
            class="border border-gray-300 rounded p-2 ml-2 shadow-lg cursor-default bg-gray-400"
            id="apa"
            v-if="this.apa == '' && !this.loading"
          >
            Approve All
          </button>
          <button
            class="border border-gray-300 rounded p-2 ml-2 hover:bg-green-300 shadow-lg"
            id="apa_enable"
            v-else-if="this.apa == 'all' && !this.loading"
            @click="allapp"
          >
            Approve All
          </button>
        </div>

        <!--- table --->
        <div
          class="fixTableHead mt-2"
          v-if="this.pouse.length != 0 && !this.loading"
          id="bigfix"
        >
          <table class="border-collapse w-full shadow-lg rounded">
            <thead id="fixh">
              <tr class="text-center bg-blue-300 border-b border-grey">
                <th class="px-2 py-4 w-10 border border-white">
                  <span class="ml-1 rounded focus-within:border-blue-500">
                    <input
                      v-if="
                        (this.position == 1 ||
                          this.position == 'dep_purchase') &&
                        this.poapp.length !== 0
                      "
                      type="checkbox"
                      class="w-4 h-4"
                      v-model="selectedAll"
                      @click="selectAll"
                      id="AppAll"
                      :disabled="this.allapp_button"
                    />
                    <input
                      v-else
                      type="checkbox"
                      class="dis w-4 h-4 bg-gray-300 border-1 border-gray-400"
                      disabled
                    />
                  </span>
                </th>
                <th
                  class="border border-white text-sm text-gray-700 w-28 font-light"
                >
                  PO No.
                </th>
                <th
                  class="border border-white text-sm text-gray-700 w-32 font-light"
                >
                  GR No.
                </th>
                <th
                  class="border border-white text-sm text-gray-700 w-36 font-light"
                >
                  Received Date
                </th>
                <th
                  class="border border-white text-sm text-gray-700 w-40 font-light"
                >
                  Vendor Name
                </th>
                <th
                  class="border border-white text-sm text-gray-700 w-20 font-light"
                >
                  Total Amount
                </th>
                <th
                  class="border border-white text-sm text-gray-700 w-28 font-light"
                >
                  Section
                </th>
                <th
                  class="border border-white text-sm text-gray-700 w-28 font-light"
                >
                  Pur Group
                </th>
                <th
                  v-if="
                    position != 0 && position != 'purchase' && position != '99'
                  "
                  class="border border-white text-sm text-gray-700 w-20 font-light"
                >
                  Score
                </th>
                <th
                  v-if="
                    position != 0 && position != 'purchase' && position != '99'
                  "
                  class="border border-white text-sm text-gray-700 w-20 font-light"
                >
                  Action
                </th>
              </tr>
            </thead>
            <tbody
              class="bg-white checklength text-sm"
              v-for="(item, index) in poList"
              :key="index"
            >
              <!-- <PerfectScrollbar> -->
              <!-- <span>item:{{ item }}</span> -->
              <tr
                class="accordion border-b border-grey-light bg-blue-100"
                :id="'_' + index"
              >
                <td class="px-3 py-4 border border-white flex justify-center">
                  <span class="ml-1 rounded focus-within:border-blue-500">
                    <input
                      v-if="position == 1 && !item[0].approvestat"
                      type="checkbox"
                      class="w-4 h-4 ml-1"
                      v-model="List"
                      :value="{ po: item[0].refdocno, gr: item[0].grnum }"
                      :id="boxapp + item[0].refdocno"
                      :disabled="item[0].approvestat"
                    />

                    <svg
                      v-else-if="position == 1"
                      id="Layer_1"
                      data-name="Layer 1"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                      class="w-7"
                    >
                      <circle class="cls-1" cx="256" cy="256" r="234.67" />
                      <path
                        class="cls-2"
                        d="M256,512C114.84,512,0,397.16,0,256S114.84,0,256,0,512,114.84,512,256,397.16,512,256,512Zm0-469.33C138.37,42.67,42.67,138.37,42.67,256S138.37,469.33,256,469.33,469.33,373.63,469.33,256,373.63,42.67,256,42.67Z"
                      />
                      <path
                        class="cls-2"
                        d="M234.66,341.33a21.24,21.24,0,0,1-11.82-3.58l-64-42.67a21.33,21.33,0,0,1,23.67-35.5l48.05,32,94.39-113.27a21.33,21.33,0,0,1,32.78,27.31l-106.67,128A21.31,21.31,0,0,1,234.66,341.33Z"
                      />
                    </svg>
                    <input
                      v-if="position == 'dep_purchase' && !item[0].approvedep"
                      type="checkbox"
                      class="w-4 h-4 ml-1"
                      v-model="List"
                      :value="{ po: item[0].refdocno, gr: item[0].grnum }"
                      :id="boxapp + item[0].refdocno"
                    />
                    <svg
                      v-else-if="position == 'dep_purchase'"
                      id="Layer_1"
                      data-name="Layer 1"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                      class="w-7"
                    >
                      <circle class="cls-1" cx="256" cy="256" r="234.67" />
                      <path
                        class="cls-2"
                        d="M256,512C114.84,512,0,397.16,0,256S114.84,0,256,0,512,114.84,512,256,397.16,512,256,512Zm0-469.33C138.37,42.67,42.67,138.37,42.67,256S138.37,469.33,256,469.33,469.33,373.63,469.33,256,373.63,42.67,256,42.67Z"
                      />
                      <path
                        class="cls-2"
                        d="M234.66,341.33a21.24,21.24,0,0,1-11.82-3.58l-64-42.67a21.33,21.33,0,0,1,23.67-35.5l48.05,32,94.39-113.27a21.33,21.33,0,0,1,32.78,27.31l-106.67,128A21.31,21.31,0,0,1,234.66,341.33Z"
                      />
                    </svg>
                  </span>
                </td>
                <td
                  class="border border-white"
                  :id="item[0].refdocno + '_' + index"
                >
                  <div class="flex justify-center text-center px-1">
                    <span
                      :id="'_' + index"
                      class="cursor-pointer"
                      @click="goto_po(item[0].refdocno)"
                      >{{ item[0].refdocno }}</span
                    >
                    <button
                      @click="fnopen_detail(item[0].id)"
                      :id="index + '_open'"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5 ml-1"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    </button>
                  </div>
                </td>
                <!-- <td
                  class="text-center border border-white"
                  v-if="item.resulty != 'have'"
                >
                  <span
                    :id="'gr_id' + item[0].grnum"
                    class="font-light text-red-500"
                    >{{ item[0].grnum }}</span
                  >
                </td> -->
                <td class="text-center border border-white">
                  <div class="flex justify-inline">
                    <span
                      :id="'gr_id' + item[0].grnum"
                      :class="
                        position == 'dep_purchase'
                          ? item.cl + 'font-light w-2/3'
                          : item.cl + 'font-light w-full'
                      "
                      >{{ item[0].grnum }}</span
                    >
                    <span
                      class="cursor-pointer w-1/3"
                      @click="toggleModal(item[0].refdocno, item[0].grnum)"
                      v-if="
                        item[0].file.length > 0 || item[0].filegr.length > 0
                      "
                    >
                      <svg
                        id="Layer_1"
                        data-name="Layer 1"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        class="w-5 mx-2 items-center"
                        fill="#4D7DF3"
                      >
                        <path
                          d="M12.76,19.94A5.49,5.49,0,0,1,5,12.18l8.76-8.75A3.72,3.72,0,0,1,20.1,6.06,3.68,3.68,0,0,1,19,8.68L10.67,17A1.36,1.36,0,0,1,8.75,15.1l8.34-8.34L15.67,5.35,7.33,13.69a3.36,3.36,0,0,0,4.75,4.75l8.35-8.34A5.72,5.72,0,0,0,12.34,2L3.58,10.77A7.49,7.49,0,0,0,14.17,21.36l7.92-7.93L20.68,12Z"
                        />
                      </svg>
                    </span>
                  </div>
                </td>
                <td class="text-center border border-white">
                  <span v-if="item.ddiff >= 0">{{
                    new Date(item.receivedate).toLocaleDateString("en-GB")
                  }}</span>
                  <span v-else class="text-red-500">{{
                    new Date(item[0].receivedate).toLocaleDateString("en-GB")
                  }}</span>
                </td>
                <td class="text-center border border-white">
                  <span>{{ item[0].vendor }}</span>
                </td>
                <td class="text-center border border-white">
                  <span>{{
                    new Intl.NumberFormat("en", {
                      minimumFractionDigits: 0,
                      maximumFractionDigits: 2,
                    }).format(item[0].totalAmount)
                  }}</span>
                </td>
                <td class="text-center border border-white">
                  <span class="w-full"> {{ item[0].section }}</span>
                  <div
                    v-if="position == 'purchase' || position == 'dep_purchase'"
                    class="w-full flex justify-center text-xs"
                  >
                    <div class="w-1/2 bg-green-200 rounded-lg px-2">
                      {{ item[0].comment_store }}
                    </div>
                    <div class="w-1/2 bg-red-200 rounded-lg px-2">
                      {{ item[0].comment_n1 }}
                    </div>
                  </div>
                </td>
                <td class="text-center border border-white">
                  <span>{{ item[0].purgroup }}</span>
                </td>

                <td
                  class="border border-white text-center"
                  v-if="
                    position != 0 && position != 'purchase' && position != '99'
                  "
                >
                  <span
                    :hidden="item[0].sumrate != 1"
                    class="text-yellow-400 text-xl"
                    >★</span
                  >
                  <span
                    :hidden="item[0].sumrate != 2"
                    class="text-yellow-400 text-xl"
                    >★★</span
                  >
                  <span
                    :hidden="item[0].sumrate != 3"
                    class="text-yellow-400 text-xl"
                    >★★★</span
                  >
                  <span
                    :hidden="item[0].sumrate != 4"
                    class="text-yellow-400 text-xl"
                    >★★★★</span
                  >
                  <span
                    :hidden="item[0].sumrate != 5"
                    class="text-yellow-400 text-xl"
                    >★★★★★</span
                  >
                </td>
                <td
                  class="border border-white text-center"
                  v-if="
                    position != 0 && position != 'purchase' && position != '99'
                  "
                >
                  <span v-if="position == 1">
                    <button
                      v-if="!item[0].approvestat"
                      @click="click_app(item[0].refdocno, item[0].grnum)"
                      :id="approved + item[0].refdocno"
                      class="rounded-lg bg-green-400 ring-2 ring-gray-200 p-1"
                    >
                      Approve
                    </button>
                    <button
                      v-else
                      class="rounded-lg bg-gray-300 ring-2 ring-gray-200 p-1 cursor-default"
                    >
                      อนุมัติแล้ว
                    </button>
                  </span>
                  <span v-else>
                    <button
                      v-if="!item[0].approvedep"
                      @click="click_app(item[0].refdocno, item[0].grnum)"
                      :id="approved + item[0].refdocno"
                      class="rounded-lg bg-green-400 ring-2 ring-gray-200 p-1 hover:text-white"
                    >
                      Approve
                    </button>
                    <button
                      v-else
                      class="rounded-lg bg-gray-300 ring-2 ring-gray-200 p-1 cursor-default"
                    >
                      อนุมัติแล้ว
                    </button>
                  </span>
                </td>
              </tr>
              <tr
                class="minibox text-sm bg-gray-200"
                v-if="Open_List.includes(item[0].id)"
              >
                <th
                  :class="
                    position == 0
                      ? 'border border-white py-1  flex justify-center'
                      : 'bg-white'
                  "
                >
                  <button
                    v-show="position == 0"
                    class="h-8"
                    v-title="'อัปเดตทำรับ'"
                    @click="updateAccept(item[0].refdocno, item[0].grnum)"
                  >
                    💾
                  </button>
                </th>
                <th
                  :class="
                    position == 0 ? 'border border-white py-1' : 'bg-white'
                  "
                >
                  <tr
                    v-show="position == 0"
                    class="flex justify-center font-light"
                  >
                    <td class="w-1/2 text-center">Accept</td>
                    <td class="w-1/2 text-center">Reject</td>
                  </tr>
                </th>
                <th class="border border-white py-1">
                  <tr class="flex justify-center font-light">
                    <td class="w-1/6 text-center">No.</td>
                    <td class="w-5/6 text-center">Item Description</td>
                  </tr>
                </th>
                <th class="font-light border border-white">
                  <tr class="flex justify-center">
                    <td class="w-1/2 text-center">UOM</td>
                    <td class="w-1/2 text-center">QTY</td>
                  </tr>
                </th>
                <th class="font-light border border-white">
                  <tr class="flex justify-center">
                    <td class="w-1/3 text-center">Unit Price</td>
                    <td class="w-1/3 text-center">Amount</td>
                    <td class="w-1/3 text-center">Delivery Date</td>
                  </tr>
                </th>
                <th class="text-center font-light border border-white">
                  จำนวนที่รับ
                </th>
                <th class="text-center font-light border border-white">
                  จำนวนค้างส่ง
                </th>
                <th class="text-center font-light border border-white">
                  น้ำหนักที่ชั่งได้
                </th>
                <th
                  class="text-center font-light border border-white"
                  v-if="
                    position != 0 && position != 'purchase' && position != '99'
                  "
                >
                  Accept
                </th>
                <th
                  class="text-center font-light border border-white"
                  v-if="
                    position != 0 && position != 'purchase' && position != '99'
                  "
                >
                  Reject
                </th>
              </tr>
              <!---  v-if="open_detail == true && po_now == item.po"  -->
              <tr
                v-for="items in item[0].detail"
                :key="items.gritem"
                class="text-xs bg-gray-100"
                id="detail_list"
                :hidden="!Open_List.includes(item[0].id)"
              >
                <th class="bg-white"></th>
                <th
                  :class="
                    position == 0 ? 'border border-white py-1' : 'bg-white'
                  "
                >
                  <tr
                    class="flex justify-center font-light"
                    v-show="position == 0"
                  >
                    <td class="text-center w-1/2">
                      <input
                        type="radio"
                        :name="'radio' + item[0].refdocno + items.gritem"
                        :checked="items.accept == 1"
                        @click="radacc(1, items.gritem)"
                      />
                    </td>
                    <td class="text-center w-1/2">
                      <input
                        type="radio"
                        :name="'radio' + item[0].refdocno + items.gritem"
                        :checked="items.accept == 0"
                        @click="radacc(0, items.gritem)"
                      />
                    </td>
                  </tr>
                </th>
                <th class="border border-white">
                  <tr class="flex justify-center font-light">
                    <td class="w-1/6 text-center">
                      {{ items.gritem }}
                    </td>
                    <td class="w-5/6">{{ items.grtext }}</td>
                  </tr>
                </th>
                <th class="border border-white">
                  <tr class="flex justify-center font-light">
                    <td class="w-1/2 text-center">{{ items.MEINS }}</td>
                    <td class="w-1/2 text-center">
                      {{
                        new Intl.NumberFormat("en", {
                          minimumFractionDigits: 0,
                          maximumFractionDigits: 2,
                        }).format(items.grqty)
                      }}
                    </td>
                  </tr>
                </th>
                <th class="font-light border border-white">
                  <tr class="flex justify-center">
                    <td class="w-1/3 text-center">
                      {{
                        new Intl.NumberFormat("en", {
                          minimumFractionDigits: 0,
                          maximumFractionDigits: 2,
                        }).format(items.unit_price)
                      }}
                    </td>
                    <td class="w-1/3 text-center">
                      {{
                        new Intl.NumberFormat("en", {
                          minimumFractionDigits: 0,
                          maximumFractionDigits: 2,
                        }).format(items.Amount)
                      }}
                    </td>
                    <td class="w-1/3 text-center">
                      {{ new Date(items.grdat).toLocaleDateString("en-GB") }}
                    </td>
                  </tr>
                </th>
                <th class="text-center font-light border border-white">
                  {{
                    new Intl.NumberFormat("en", {
                      minimumFractionDigits: 0,
                      maximumFractionDigits: 2,
                    }).format(items.actqty)
                  }}
                </th>
                <th class="text-center font-light border border-white">
                  {{
                    new Intl.NumberFormat("en", {
                      minimumFractionDigits: 0,
                      maximumFractionDigits: 2,
                    }).format(items.dueqty)
                  }}
                </th>
                <th class="text-center font-light border border-white">
                  {{
                    new Intl.NumberFormat("en", {
                      minimumFractionDigits: 0,
                      maximumFractionDigits: 2,
                    }).format(items.grweight)
                  }}
                </th>
                <th
                  class="text-center font-light border border-white"
                  v-if="
                    position != 0 && position != 'purchase' && position != '99'
                  "
                >
                  <input
                    type="radio"
                    :name="'radio' + item[0].grnum + items.gritem"
                    :checked="items.accept == 1"
                    disabled
                  />
                </th>
                <th
                  class="text-center font-light border border-white"
                  v-if="
                    position != 0 && position != 'purchase' && position != '99'
                  "
                >
                  <input
                    type="radio"
                    :name="'radio' + item[0].grnum + items.gritem"
                    :checked="items.accept == 0"
                    disabled
                  />
                </th>
              </tr>
              <!-- </PerfectScrollbar> -->
            </tbody>
          </table>
        </div>
        <!-- <div
          class="flex justify-center mb-12 mt-6"
          v-if="this.pouse.length == 0 && this.datadep == 'NO'"
        >
          <p v-if="this.position == 'dep_purchase'" class="text-red-500">
            ไม่พบข้อมูล
          </p>
        </div> -->
        <!-- <p>{{ this.List }}</p> -->
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import { mapState } from "vuex";
import SearchPO from "./searchPO.vue";

// import auth from "../state/auth";

//import { PerfectScrollbar } from "vue2-perfect-scrollbar";
const url = "https://hook.zubbsteel.com/line-ci/grpass/qpass/";
const urlT = "https://hook.zubbsteel.com/line-ci/grpass/v2/";
export default {
  computed: {
    poList() {
      return this.pouse || [];
    },
    ...mapState(["userData", "isLogin", "search_t"]),
  },

  data() {
    return {
      loading: false,
      po_now: "",
      gr_now: "",
      select: false,
      selected_p: "",
      selected_s: "",
      selectedAll: false,
      List: [],
      open_detail: false,
      All_PO: [],
      Open_List: [],
      pouse: [],
      detailuse: [],
      position: "",
      allsection: [],
      allpurchase: [],
      approved: "approved",
      boxapp: "boxapp",
      user: "",
      o: "",
      checkcount_all: 0,
      chk_all: 0,
      cch: "No",
      start: 1,
      datadep: "",
      apa: "",
      poapp: [],
      lv: "",
      allapp_button: false,
      showModal: false,
      loadfile: [],
      urlpic: "https://hook.zubbsteel.com/line-ci/fileGR/",
      show: false,
      visible: false,
      index: 0, // default: 0
      imgs: [],
      newdataapi: [],
      arrTEST: [],

      //gr_id: "gr_id",
    };
  },
  created() {
    // console.log(this.userData[0]);

    this.user = this.userData[0].EMP_NAME;
    this.lv = this.userData[0].job_level;
    this.position = this.userData[0].position;
    this.getLevel(this.userData[0].PRS_NO);

    if (this.userData[0].DEP == "DPC") {
      this.userData[0].roles = "จัดซื้อ";
    } else if (this.userData[0].BU == "FNA") {
      this.userData[0].roles = "บัญชี";
    } else {
      this.userData[0].roles = "ผู้ขอซื้อ";
    }

    this.selectedAll = false;
    this.getPurGroup();
    this.getSection();
    this.alldata();
  },
  components: {
    SearchPO,
  },
  watch: {
    List: function (after) {
      if (
        (after.length == this.pouse.length ||
          after.length == this.poapp.length) &&
        after.length !== 0
      ) {
        this.selectedAll = true;
        this.apa = "all";
      } else {
        this.selectedAll = false;
        this.apa = "";
      }
    },
    s_po: function (after) {
      if (after == "**") {
        this.s_po = "*";
      }
    },
  },
  methods: {
    updateAccept(ponum, grnum) {
      this.pouse.forEach((data) => {
        if (data[0].refdocno == ponum && data[0].grnum == grnum) {
          data[0].detail.forEach((dti) => {
            axios.post(url + "updateAccept", {
              po: ponum,
              gr: grnum,
              no: dti.gritem,
              acc: dti.accept,
            });
          });
        }
      });
      alert("อัปเดตทำรับแล้ว");
    },
    radacc(choice, i) {
      this.pouse.forEach((data) => {
        data[0].detail.forEach((dti) => {
          if (dti.gritem == i) {
            dti.accept = choice;
          }
        });
      });
    },
    toggleModal(po = "", gr = "") {
      document.getElementById("modal").classList.toggle("hidden");
      document.getElementById("mdol").style.position = "absolute";
      document.getElementById("fixh").style.opacity = "0.1";

      if (po && gr) {
        this.getfile(po, gr);
      } else {
        document.getElementById("fixh").style.opacity = "1";
        this.imgs = [];
      }
    },
    async testfun() {
      // const t = await axios.get(url + "mailToReqPO/" + "4830049847");
      //console.log(t.data);
    },
    async getLevel(empcode) {
      const lev = await axios.get(url + "getLevel/" + empcode);
      if (lev.data.length > 0) {
        this.position = lev.data[0].lv;
        if (lev.data[0].lv == 1 && this.userData[0].BU !== "FNA") {
          this.userData[0].roles = "ผู้ขอซื้อ";
          this.userData[0].level_roles = 1;
          this.lv = 2;
        } else if (lev.data[0].lv == 99) {
          this.userData[0].roles = "สไตร์";
          this.userData[0].level_roles = 99;
          this.lv = 3;
        } else {
          this.userData[0].roles = "บัญชี";
          this.userData[0].level_roles = 1;
          this.position = "FNA";
        }
      } else {
        if (this.userData[0].DEP == "DPC" && this.userData[0].job_level == 0) {
          this.position = "purchase";
          this.userData[0].roles = "จัดซื้อ";
          this.userData[0].level_roles = 0;
          this.lv = 1;
        } else if (this.userData[0].DEP == "DPC") {
          this.position = "dep_purchase";
          this.userData[0].roles = "จัดซื้อ";
          this.userData[0].level_roles = 1;
          this.lv = 0;
        } else {
          this.position = 0;
          this.userData[0].roles = "ผู้ขอซื้อ";
          this.userData[0].level_roles = 0;
          this.lv = 3;
        }
      }
    },
    chkNumber(ele) {
      var vchar = String.fromCharCode(event.keyCode);
      if ((vchar < "0" || vchar > "9") && vchar != ".") return false;
      ele.onKeyPress = vchar;
    },
    allpo() {
      this.pouse.forEach((data) => {
        this.All_PO.push({ po: data.refdocno, gr: data.grnum });
      });
    },
    async getPurGroup() {
      const userpurchase = await axios.get(url + "getAllPurchase");
      this.allpurchase = userpurchase.data;
      this.allpurchase.unshift({ emp_name: "Pur Group" });
      console.log(this.allpurchase);
    },
    async getSection() {
      const sectionme = await axios.get(
        url +
          "getSection/" +
          this.userData[0].PRS_NO +
          "/" +
          this.userData[0].DEP +
          "/" +
          this.position
      );

      this.allsection = sectionme.data;
      this.allsection.unshift({ sec: "Section" });
    },
    async alldata() {
      this.loading = true;
      this.arrTEST = [];
      if (this.search_t.sec == "Section") {
        this.search_t.sec = null;
      }
      if (this.search_t.pur == "Pur Group") {
        this.search_t.pur = null;
      }
      const testdata = await axios.post(urlT + "po", {
        emp_code: this.userData[0].PRS_NO,
        search_t: this.search_t,
        position: this.position,
      });
      this.pouse = testdata.data;
      // this.newdataapi = testdata.data;
      // this.pouse = this.newdataapi;
      if (testdata.data.length == 0) {
        this.datadep = "NO";
      }
      let AllPO_ = [];
      // let g = [];
      let iindex = 0;
      this.pouse.forEach((data) => {
        // console.log(data);
        data.forEach((idata) => {
          let d = [
            {
              refdocno: idata.refdocno,
              grnum: idata.grnum,
              receivedate: idata.grdat,
              totalAmount: idata.Total_Amount,
              vendor: idata.vendor,
              section: idata.BEDNR,
              purgroup: idata.EKNAM,
              id: iindex,
              detail: data,
              file: idata.FileREQ,
              filegr: idata.FileSTR,
              approvedep: idata.approvedep,
              approvestat: idata.approvestat,
              sumrate: idata.sumrate,
              comment_store: idata.userstore,
              comment_n1: idata.userN,
            },
          ];
          if (!AllPO_.includes(idata.refdocno)) {
            AllPO_.push(idata.refdocno);
            d[0].detail.map((f, indexx) => {
              f.Amount = (f.grqty * f.unit_price).toFixed(2);
              f.gritem = indexx + 1;
            });
            this.arrTEST.push(d);
          }
          if (this.position == "dep_purchase") {
            if (!data[0].approvedep) {
              this.poapp.push({ gr: idata.grnum, po: idata.refdocno });
            }
            d[0].detail.map((datain) => {
              if (datain.dueqty <= 0) {
                datain.dueqty = 0;
                datain.resulty = "not";
              } else {
                datain.resulty = "have";
              }
            });
          } else {
            if (!data[0].approvestat) {
              this.poapp.push({ gr: idata.grnum, po: idata.refdocno });
            }
            d[0].detail.map((datain) => {
              if (datain.dueqty <= 0) {
                datain.dueqty = 0;
                datain.resulty = "not";
              } else {
                datain.resulty = "have";
              }
            });
          }
        });

        iindex = iindex + 1;
      });

      this.pouse = this.arrTEST;

      this.loading = false;
      console.log("DATA::", this.pouse);
    },

    async search(po, gr, vd, sec, pur) {
      if (po == "" && gr == "" && vd == "" && sec == "" && pur == "") {
        this.alldata();
        if (pur) {
          this.selected_p = "";
        }
        this.start = 1;
        // this.pouse = [];
        this.checkcount_all = 0;
        this.cch = "No";
        // this.alldata();
      } else {
        this.datadep = "";
        this.pouse = [];
        // console.log("ค่า pur:", pur);
        let newpur = pur.split(" ");
        let newpur_bef = newpur[0].replace("(", "");
        let newpur_o = newpur_bef.replace(")", "");
        const datasearch = await axios.post(url + "search_po/", {
          refdocno: po,
          grnum: gr,
          vendor: vd,
          posi: this.position,
          sec: sec,
          pur: newpur_o + "*",
          lv: this.lv,
          dep: this.userData[0].DEP,
        });
        if (datasearch.data.length !== 0) {
          this.pouse = datasearch.data;
          // console.log("ตำแหน่งหลังค้นหา::", this.position);
        } else {
          this.datadep = "";

          alert("ไม่พบข้อมูล");
          this.s_po = "";
          this.s_gr = "";
          this.s_ven = "";
          this.selected_s = "";
          this.selected_p = "";
          this.pouse = [];
          this.start = 1;
          this.alldata();
        }

        // this.pouse.forEach((data) => {
        //   if (data.resulty == "have") {
        //     data.cl = " ";
        //   } else {
        //     data.cl = "text-red-500 ";
        //   }
        // });
      }
    },
    async fnopen_detail(po) {
      this.po_now = po;
      const A = this.Open_List.findIndex((a) => a == po);
      const have = this.Open_List.includes(po);
      if (!have) {
        this.Open_List.push(po);
      } else {
        this.Open_List.splice(A, 1);
      }
    },
    selectAll() {
      this.List = [];
      if (!this.selectedAll) {
        this.pouse.forEach((data) => {
          if (this.position == 1) {
            if (!data[0].approvestat) {
              this.List.push({ po: data[0].refdocno, gr: data[0].grnum });
            }
          } else {
            if (!data[0].approvedep) {
              this.List.push({ po: data[0].refdocno, gr: data[0].grnum });
            }
          }
        });
        //console.log("List", this.List);
      }
    },
    async chg_textcolor() {
      this.pouse.forEach((data) => {
        data.detail.forEach((data2) => {
          if (data2.qty < data2.actqty) {
            if (this.position == "purchase") {
              var a = document.getElementById("gr_id" + data.gr);
              a.classList.add("text-red-500");
            }
          }
        });
      });
    },
    goto_po(po) {
      if (this.position != "99") {
        this.$router.push({ name: "detail", params: { po_num: po } });
      } else {
        this.$router.push({ name: "supplier", params: { po_num: po } });
      }
    },
    click_app(itemspo, itemsgr) {
      if (this.pouse.length == this.List.length || this.List.length > 1) {
        if (confirm("ต้องการ Approve ทั้งหมดใช่หรือไม่ ?")) {
          this.List.forEach((data) => {
            axios.post(url + "approvedpo", {
              po: data.po,
              gr: data.gr,
              user: this.user,
              lev: this.lv,
            });
            axios.post(url + "updateapprove", {
              grnum: data.gr,
              position: this.position,
              sec: this.userData[0].DEP,
            });
          });
        }
      } else {
        axios.post(url + "insert_com", {
          po: itemspo,
          gr: itemsgr,
          commn: "",
          user: this.user,
          lv: this.lv,
          status: "insert",
        });

        axios.post(url + "approvedpo", {
          po: itemspo,
          gr: itemsgr,
          user: this.user,
          lev: this.lv,
          section: this.userData[0].DEP,
        });
        axios.post(url + "updateapprove", {
          grnum: itemsgr,
          position: this.position,
          sec: this.userData[0].DEP,
        });

        alert("Approve เรียบร้อยแล้ว");
        // console.log(this.List);
      }

      if (this.position == "dep_purchase" || this.position == "purchase") {
        this.datadep = "NO";
      } else {
        this.datadep = "";
      }
      this.pouse = [];
      this.start = 1;
      this.alldata();
    },
    async allapp() {
      //alert("5566778899");
      if (confirm("ต้องการ Approve ทั้งหมดใช่หรือไม่?")) {
        this.List.forEach(async (data) => {
          await axios.post(url + "updateapprove", {
            grnum: data.gr,
            position: this.position,
            sec: this.userData[0].DEP,
          });
          await axios.post(url + "approvedpo", {
            po: data.po,
            gr: data.gr,
            user: this.user,
            lev: this.lv,
          });
        });
        setTimeout(() => {
          this.allapp_button = true;
        }, 1800);

        alert("Approved All Success :)");

        this.alldata();
      }
    },
    async getfile(po, gr) {
      const filedata = await axios.get(url + "getfile/" + po + "/" + gr);
      this.loadfile = filedata.data;
      this.loadfile.forEach((data) => {
        let a = this.urlpic + data.attfile + "." + data.typefile;
        this.imgs.push(a);
      });

      const grUpload = await axios.get(
        "https://hook.zubbsteel.com/line-ci/grpass/qpass/picGR/" + po
      );
      grUpload.data.map((data) => {
        this.loadfile.push({ attfile: data, typefile: "jpg", type: true });
        this.imgs.push(data);
      });
      // console.log(this.imgs);
    },
    srcImg(file, type) {
      if (file.slice(0, 4) !== "http") {
        return this.urlpic + file + "." + type;
      } else {
        return file;
      }
    },

    showImg(index) {
      this.index = index;
      this.visible = true;
      // console.log("LINK IMG:", this.imgs);
    },
    handleHide() {
      this.visible = false;
    },
  },
};
</script>
<style scoped>
.ps {
  height: 400px;
  position: sticky;
}
.fixTableHead {
  overflow-y: scroll;
  height: 500px;
}

.fixTableHead thead th {
  position: sticky;
  top: 0;
  background-color: #52b2bf;
}

.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

.cls-1 {
  fill: #43bb6b;
}
.cls-2 {
  fill: #cbffdc;
}

.close {
  margin: 7% 0 0 16px;
  cursor: pointer;
  height: 20px;
}

.close-img {
  width: 25px;
}

.modal {
  text-align: center;
  justify-content: center;
  background-color: white;
  height: 500px;
  width: 500px;
  margin-top: 8%;
  padding: 60px 0;
  border-radius: 20px;
  opacity: 1;
  transition: width 2s;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #000000da;
  transition: width 2s;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
