<template>
  <div class="modal-overlay">
    <div class="modal">
      <div class="flex justify-center" v-if="this.loadfile.length !== 0">
        <span
          v-for="(file, index) in this.loadfile"
          :key="file.attfile"
          class="mx-1 flex flex-wrap"
        >
          <img
            v-if="file.typefile !== 'mp4'"
            class="rounded w-28 h-28 my-2 cursor-pointer"
            :src="srcImg(file.attfile, file.typefile)"
            alt=""
            :data-lightbox="'AU_' + file.attfile"
            @click="() => showImg(index)"
          />
          <video v-else controls class="rounded w-28 h-28 my-2 cursor-pointer">
            <source
              :src="urlpic + file.attfile + '.' + file.typefile"
              type="video/mp4"
            />

            Your browser does not support the video tag.
          </video>
        </span>
      </div>
      <div v-else>
        <p class="text-red-500 font-bold">No Data</p>
      </div>
      <vue-easy-lightbox
        :visible="visible"
        :imgs="imgs"
        :index="index"
        @hide="handleHide"
      ></vue-easy-lightbox>
    </div>
    <div class="close" @click="$emit('close-modal')">
      <img class="close-img" src="../assets/close.png" alt="" />
    </div>
  </div>
</template>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-easy-lightbox@vue2/dist/vue-easy-lightbox.umd.min.js"></script>
<script>
import axios from "axios";
const url = "https://hook.zubbsteel.com/line-ci/grpass/qpass/";
export default {
  props: ["po", "gr"],
  data() {
    return {
      loadfile: [],
      urlpic: "https://hook.zubbsteel.com/line-ci/fileGR/",
      show: false,
      visible: false,
      index: 0, // default: 0
      imgs: [],
      grpic: [],
    };
  },
  created() {
    this.getfile();
  },
  methods: {
    srcImg(file, type) {
      if (file.slice(0, 4) !== "http") {
        return this.urlpic + file + "." + type;
      } else {
        return file;
      }
    },
    showImg(index) {
      this.index = index;
      this.visible = true;
    },
    handleHide() {
      this.visible = false;
    },
    // async getfile() {
    //   console.log(this.po, " ///", this.gr);
    //   const filedata = await axios.get(
    //     url + "getfile/" + this.po + "/" + this.gr
    //   );
    //   console.log(filedata.data);
    //   this.loadfile = filedata.data;
    //   this.loadfile.forEach((data) => {
    //     let a = this.urlpic + data.attfile + "." + data.typefile;
    //     this.imgs.push(a);
    //   });
    // },

    async getfile() {
      const filedata = await axios.get(
        url + "getfile/" + this.po + "/" + this.gr
      );
      this.loadfile = filedata.data;
      this.loadfile.forEach((data) => {
        let a = this.urlpic + data.attfile + "." + data.typefile;
        this.imgs.push(a);
      });

      const grUpload = await axios.get(
        "https://hook.zubbsteel.com/line-ci/grpass/qpass/picGR/" + this.po
      );
      grUpload.data.map((data) => {
        this.loadfile.push({ attfile: data, typefile: "jpg", type: true });
        this.imgs.push(data);
      });
      // console.log("this.loadfile", this.loadfile);
    },
  },
};
</script>
<style scoped>
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #000000da;
  transition: width 2s;
}

.modal {
  text-align: center;
  background-color: white;
  height: 500px;
  width: 500px;
  margin-top: 10%;
  padding: 60px 0;
  border-radius: 20px;
  opacity: 1;
  transition: width 2s;
}
.close {
  margin: 10% 0 0 16px;
  cursor: pointer;
}

.close-img {
  width: 25px;
}

.check {
  width: 150px;
}

h6 {
  font-weight: 500;
  font-size: 28px;
  margin: 20px 0;
}

p {
  font-size: 16px;
  margin: 20px 0;
}

button {
  background-color: #ac003e;
  width: 150px;
  height: 40px;
  color: white;
  font-size: 14px;
  border-radius: 16px;
  margin-top: 50px;
}
</style>
