<template>
  <div>
    <input
      class="m-2 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      id="PO"
      type="text"
      placeholder="PO No."
      v-model="st.po"
    />
    <input
      class="m-2 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      id="GR"
      type="text"
      placeholder="GR No."
      v-model="st.gr"
    />
    <input
      class="m-2 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      id="Vendor"
      type="text"
      placeholder="Vendor Name"
      v-model="st.vendor"
    />

    <select
      class="m-2 w-28 shadow border text-gray-700 py-2 px-3 rounded leading-tight focus:outline-none focus:bg-white focus:shadow-outline"
      id="grid-state"
      v-model="st.sec"
    >
      <option v-for="(sec, index) in props_sec" :key="index">
        {{ sec.sec }}
      </option>
    </select>
    <select
      class="m-2 shadow border text-gray-700 py-2 px-3 rounded leading-tight focus:outline-none focus:bg-white focus:shadow-outline"
      id="pur grid-state"
      name="ppur"
      v-model="st.pur"
    >
      <option v-for="(pur, index) in props_pur" :key="index">
        {{ pur.emp_name }}
      </option>
    </select>
    <button
      id="Find_QR"
      @click="search()"
      class="font-semibold mx-2 shadow-lg rounded-xl border-2 py-2 px-3 leading-tight focus:outline-none bg-blue-500 text-white hover:text-black"
    >
      ค้นหา
    </button>

    <button
      @click="clear()"
      class="font-semibold mx-2 shadow-lg rounded-xl border-2 py-2 px-3 leading-tight focus:outline-none bg-red-500 text-white hover:bg-red-600"
    >
      ล้าง
    </button>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  props: ["props_sec", "props_pur"],
  data() {
    return {
      st: {
        po: null,
        gr: null,
        vendor: null,
        pur: null,
        sec: null,
      },
    };
  },
  created() {
    this.st = this.search_t;
    if (this.st.sec == undefined) {
      this.st.sec = "Section";
    }
    if (this.st.pur == undefined) {
      this.st.pur = "Pur Group";
    }
  },
  methods: {
    search() {
      let newPUR = "";
      let OLDPUR = this.st.pur;
      if (this.st.sec == "Section") {
        this.st.sec = null;
      }
      if (this.st.pur == "Pur Group") {
        this.st.pur = null;
      }

      if (this.st.pur !== null && this.st.pur !== "Pur Group") {
        newPUR = this.st.pur.split(" ");
        this.st.pur = newPUR[1];
      }

      this.$store.commit("setSearchTerm", this.st);
      this.$emit("refetch");
      if (this.st.sec == null) {
        this.st.sec = "Section";
      }
      if (this.st.pur == null) {
        this.st.pur = "Pur Group";
      } else {
        this.st.pur = OLDPUR;
      }
    },
    clear() {
      this.st = { po: null, gr: null, vendor: null, pur: null, sec: null };
      this.$store.commit("setSearchTerm", {});
      this.$emit("refetch");
      this.st.sec = "Section";
      this.st.pur = "Pur Group";
    },
  },
  computed: mapState(["search_t"]),
};
</script>

<style></style>
