<template>
  <div id="app">
    <navbar :hidden="this.userData[0].position == '99'" />

    <!-- <div>{{ userData[0] }}+{{ this.status_store }}</div> -->
    <div>
      <!-- <router-link to="/createplan">สร้างแผนนับ</router-link> |
      <router-link to="/closeplan">ปิดแผนนับ</router-link> |
      <router-link to="/report">รายงานแผนการตรวจนับ</router-link> -->
      <!-- <p class="font-bold text-gray-500 underline">
        ใช้ Tailwind CSS ได้เลยจ้า
      </p>
      <p class="font-bold text-pink-700 underline">นิวโปรเจคสวยๆเร้ยย</p>
      <router-link to="/edit_do">Click!!</router-link> -->
    </div>
    <router-view />
  </div>
</template>
<script>
import navbar from "@/components/navbar.vue";
import { mapState } from "vuex";
import axios from "axios";
//const url = "https://hook.zubbsteel.com/line-ci/grpass/qpass/";

require("vue-it-bigger/dist/vue-it-bigger.min.css");
export default {
  data() {
    return {
      status_store: false,
    };
  },
  components: {
    navbar,
  },
  computed: mapState(["userData", "isLogin"]),

  created() {
    console.log("จาก App.vue:", this.userData);
    // this.prs_no = this.userData[0].PRS_NO;
    if (this.userData == null) {
      this.login();
    }
    //this.getLevel();
  },
  methods: {
    async login() {
      await axios
        .get(`https://hook.zubbsteel.com/line-ci/grpass/qpass/user/58080038`)
        .then((Response) => this.$store.commit("setUserData", Response.data));
    },
  },
};
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
